/**
 * Ajout de thèmes supplémentaires à ceux proposés par Bootstrap afin de
 * personnaliser chacune des courbes disponibles à la restitution.
 *
 * btn-BlueViolet
 * btn-GreenYellow
 * btn-HotPink
 * btn-OrangeRed
 * btn-LightSeaGreen
 * btn-LightSalmon
 *
 * @author Gérard Sauer
 */

.btn-BlueViolet {
  color: #fff;
  background-color: #8A2BE2;
  border-color: #6919b3;
}
.btn-BlueViolet:focus,
.btn-BlueViolet.focus {
  color: #fff;
  background-color: #761cca;
  border-color: #5c159d;
}
.btn-BlueViolet:hover {
  color: #fff;
  background-color: #761cca;
  border-color: #5c159d;
}
.btn-BlueViolet:active,
.btn-BlueViolet.active,
.open > .dropdown-toggle.btn-BlueViolet {
  color: #fff;
  background-color: #761cca;
  border-color: #5c159d;
}
.btn-BlueViolet:active:hover,
.btn-BlueViolet.active:hover,
.open > .dropdown-toggle.btn-BlueViolet:hover,
.btn-BlueViolet:active:focus,
.btn-BlueViolet.active:focus,
.open > .dropdown-toggle.btn-BlueViolet:focus,
.btn-BlueViolet:active.focus,
.btn-BlueViolet.active.focus,
.open > .dropdown-toggle.btn-BlueViolet.focus {
  color: #fff;
  background-color: #6919b3;
  border-color: #5c159d;
}
.btn-BlueViolet:active,
.btn-BlueViolet.active,
.open > .dropdown-toggle.btn-BlueViolet {
  background-image: none;
}
.btn-BlueViolet.disabled,
.btn-BlueViolet[disabled],
fieldset[disabled] .btn-BlueViolet,
.btn-BlueViolet.disabled:hover,
.btn-BlueViolet[disabled]:hover,
fieldset[disabled] .btn-BlueViolet:hover,
.btn-BlueViolet.disabled:focus,
.btn-BlueViolet[disabled]:focus,
fieldset[disabled] .btn-BlueViolet:focus,
.btn-BlueViolet.disabled.focus,
.btn-BlueViolet[disabled].focus,
fieldset[disabled] .btn-BlueViolet.focus,
.btn-BlueViolet.disabled:active,
.btn-BlueViolet[disabled]:active,
fieldset[disabled] .btn-BlueViolet:active,
.btn-BlueViolet.disabled.active,
.btn-BlueViolet[disabled].active,
fieldset[disabled] .btn-BlueViolet.active {
  background-color: #8A2BE2;
  border-color: #5c159d;
}
.btn-BlueViolet .badge {
  color: #8A2BE2;
  background-color: #fff;
}

.btn-GreenYellow {
  color: #fff;
  background-color: #7ccc00;
  border-color: #5d9900;
}
.btn-GreenYellow:focus,
.btn-GreenYellow.focus {
  color: #fff;
  background-color: #6cb300;
  border-color: #4d8000;
}
.btn-GreenYellow:hover {
  color: #fff;
  background-color: #6cb300;
  border-color: #4d8000;
}
.btn-GreenYellow:active,
.btn-GreenYellow.active,
.open > .dropdown-toggle.btn-GreenYellow {
  color: #fff;
  background-color: #6cb300;
  border-color: #4d8000;
}
.btn-GreenYellow:active:hover,
.btn-GreenYellow.active:hover,
.open > .dropdown-toggle.btn-GreenYellow:hover,
.btn-GreenYellow:active:focus,
.btn-GreenYellow.active:focus,
.open > .dropdown-toggle.btn-GreenYellow:focus,
.btn-GreenYellow:active.focus,
.btn-GreenYellow.active.focus,
.open > .dropdown-toggle.btn-GreenYellow.focus {
  color: #fff;
  background-color: #cc3700;
  border-color: #4d8000;
}
.btn-GreenYellow:active,
.btn-GreenYellow.active,
.open > .dropdown-toggle.btn-GreenYellow {
  background-image: none;
}
.btn-GreenYellow.disabled,
.btn-GreenYellow[disabled],
fieldset[disabled] .btn-GreenYellow,
.btn-GreenYellow.disabled:hover,
.btn-GreenYellow[disabled]:hover,
fieldset[disabled] .btn-GreenYellow:hover,
.btn-GreenYellow.disabled:focus,
.btn-GreenYellow[disabled]:focus,
fieldset[disabled] .btn-GreenYellow:focus,
.btn-GreenYellow.disabled.focus,
.btn-GreenYellow[disabled].focus,
fieldset[disabled] .btn-GreenYellow.focus,
.btn-GreenYellow.disabled:active,
.btn-GreenYellow[disabled]:active,
fieldset[disabled] .btn-GreenYellow:active,
.btn-GreenYellow.disabled.active,
.btn-GreenYellow[disabled].active,
fieldset[disabled] .btn-GreenYellow.active {
  background-color: #7ccc00;
  border-color: #4cae4c;
}
.btn-GreenYellow .badge {
  color: #7ccc00;
  background-color: #fff;
}

.btn-HotPink {
  color: #fff;
  background-color: #FF69B4;
  border-color: #ff3399;
}
.btn-HotPink:focus,
.btn-HotPink.focus {
  color: #fff;
  background-color: #ff4da6;
  border-color: #ff0080;
}
.btn-HotPink:hover {
  color: #fff;
  background-color: #ff4da6;
  border-color: #ff0080;
}
.btn-HotPink:active,
.btn-HotPink.active,
.open > .dropdown-toggle.btn-HotPink {
  color: #fff;
  background-color: #ff4da6;
  border-color: #ff0080;
}
.btn-HotPink:active:hover,
.btn-HotPink.active:hover,
.open > .dropdown-toggle.btn-HotPink:hover,
.btn-HotPink:active:focus,
.btn-HotPink.active:focus,
.open > .dropdown-toggle.btn-HotPink:focus,
.btn-HotPink:active.focus,
.btn-HotPink.active.focus,
.open > .dropdown-toggle.btn-HotPink.focus {
  color: #fff;
  background-color: #cc3700;
  border-color: #ff0080;
}
.btn-HotPink:active,
.btn-HotPink.active,
.open > .dropdown-toggle.btn-HotPink {
  background-image: none;
}
.btn-HotPink.disabled,
.btn-HotPink[disabled],
fieldset[disabled] .btn-HotPink,
.btn-HotPink.disabled:hover,
.btn-HotPink[disabled]:hover,
fieldset[disabled] .btn-HotPink:hover,
.btn-HotPink.disabled:focus,
.btn-HotPink[disabled]:focus,
fieldset[disabled] .btn-HotPink:focus,
.btn-HotPink.disabled.focus,
.btn-HotPink[disabled].focus,
fieldset[disabled] .btn-HotPink.focus,
.btn-HotPink.disabled:active,
.btn-HotPink[disabled]:active,
fieldset[disabled] .btn-HotPink:active,
.btn-HotPink.disabled.active,
.btn-HotPink[disabled].active,
fieldset[disabled] .btn-HotPink.active {
  background-color: #FF69B4;
  border-color: #ff0080;
}
.btn-HotPink .badge {
  color: #FF69B4;
  background-color: #fff;
}

.btn-OrangeRed {
  color: #fff;
  background-color: #FF4500;
  border-color: #cc3700;
}
.btn-OrangeRed:focus,
.btn-OrangeRed.focus {
  color: #fff;
  background-color: #e63e00;
  border-color: #b33000;
}
.btn-OrangeRed:hover {
  color: #fff;
  background-color: #e63e00;
  border-color: #b33000;
}
.btn-OrangeRed:active,
.btn-OrangeRed.active,
.open > .dropdown-toggle.btn-OrangeRed {
  color: #fff;
  background-color: #e63e00;
  border-color: #b33000;
}
.btn-OrangeRed:active:hover,
.btn-OrangeRed.active:hover,
.open > .dropdown-toggle.btn-OrangeRed:hover,
.btn-OrangeRed:active:focus,
.btn-OrangeRed.active:focus,
.open > .dropdown-toggle.btn-OrangeRed:focus,
.btn-OrangeRed:active.focus,
.btn-OrangeRed.active.focus,
.open > .dropdown-toggle.btn-OrangeRed.focus {
  color: #fff;
  background-color: #cc3700;
  border-color: #b33000;
}
.btn-OrangeRed:active,
.btn-OrangeRed.active,
.open > .dropdown-toggle.btn-OrangeRed {
  background-image: none;
}
.btn-OrangeRed.disabled,
.btn-OrangeRed[disabled],
fieldset[disabled] .btn-OrangeRed,
.btn-OrangeRed.disabled:hover,
.btn-OrangeRed[disabled]:hover,
fieldset[disabled] .btn-OrangeRed:hover,
.btn-OrangeRed.disabled:focus,
.btn-OrangeRed[disabled]:focus,
fieldset[disabled] .btn-OrangeRed:focus,
.btn-OrangeRed.disabled.focus,
.btn-OrangeRed[disabled].focus,
fieldset[disabled] .btn-OrangeRed.focus,
.btn-OrangeRed.disabled:active,
.btn-OrangeRed[disabled]:active,
fieldset[disabled] .btn-OrangeRed:active,
.btn-OrangeRed.disabled.active,
.btn-OrangeRed[disabled].active,
fieldset[disabled] .btn-OrangeRed.active {
  background-color: #ff4500;
  border-color: #b33000;
}
.btn-OrangeRed .badge {
  color: #ff4500;
  background-color: #fff;
}

.btn-LightSeaGreen {
  color: #fff;
  background-color: #1fada5;
  border-color: #1b9790;
}
.btn-LightSeaGreen:focus,
.btn-LightSeaGreen.focus {
  color: #fff;
  background-color: #1b9790;
  border-color: #136c67;
}
.btn-LightSeaGreen:hover {
  color: #fff;
  background-color: #1b9790;
  border-color: #136c67;
}
.btn-LightSeaGreen:active,
.btn-LightSeaGreen.active,
.open > .dropdown-toggle.btn-LightSeaGreen {
  color: #fff;
  background-color: #1b9790;
  border-color: #136c67;
}
.btn-LightSeaGreen:active:hover,
.btn-LightSeaGreen.active:hover,
.open > .dropdown-toggle.btn-LightSeaGreen:hover,
.btn-LightSeaGreen:active:focus,
.btn-LightSeaGreen.active:focus,
.open > .dropdown-toggle.btn-LightSeaGreen:focus,
.btn-LightSeaGreen:active.focus,
.btn-LightSeaGreen.active.focus,
.open > .dropdown-toggle.btn-LightSeaGreen.focus {
  color: #fff;
  background-color: #398439;
  border-color: #136c67;
}
.btn-LightSeaGreen:active,
.btn-LightSeaGreen.active,
.open > .dropdown-toggle.btn-LightSeaGreen {
  background-image: none;
}
.btn-LightSeaGreen.disabled,
.btn-LightSeaGreen[disabled],
fieldset[disabled] .btn-LightSeaGreen,
.btn-LightSeaGreen.disabled:hover,
.btn-LightSeaGreen[disabled]:hover,
fieldset[disabled] .btn-LightSeaGreen:hover,
.btn-LightSeaGreen.disabled:focus,
.btn-LightSeaGreen[disabled]:focus,
fieldset[disabled] .btn-LightSeaGreen:focus,
.btn-LightSeaGreen.disabled.focus,
.btn-LightSeaGreen[disabled].focus,
fieldset[disabled] .btn-LightSeaGreen.focus,
.btn-LightSeaGreen.disabled:active,
.btn-LightSeaGreen[disabled]:active,
fieldset[disabled] .btn-LightSeaGreen:active,
.btn-LightSeaGreen.disabled.active,
.btn-LightSeaGreen[disabled].active,
fieldset[disabled] .btn-LightSeaGreen.active {
  background-color: #1fada5;
  border-color: #136c67;
}
.btn-LightSeaGreen .badge {
  color: #1fada5;
  background-color: #fff;
}

.btn-LightSalmon {
  color: #fff;
  background-color: #ff9266;
  border-color: #ff6d33;
}
.btn-LightSalmon:focus,
.btn-LightSalmon.focus {
  color: #fff;
  background-color: #ff804d;
  border-color: #ff5b1a;
}
.btn-LightSalmon:hover {
  color: #fff;
  background-color: #ff804d;
  border-color: #ff5b1a;
}
.btn-LightSalmon:active,
.btn-LightSalmon.active,
.open > .dropdown-toggle.btn-LightSalmon {
  color: #fff;
  background-color: #ff804d;
  border-color: #ff5b1a;
}
.btn-LightSalmon:active:hover,
.btn-LightSalmon.active:hover,
.open > .dropdown-toggle.btn-LightSalmon:hover,
.btn-LightSalmon:active:focus,
.btn-LightSalmon.active:focus,
.open > .dropdown-toggle.btn-LightSalmon:focus,
.btn-LightSalmon:active.focus,
.btn-LightSalmon.active.focus,
.open > .dropdown-toggle.btn-LightSalmon.focus {
  color: #fff;
  background-color: #ff804d;
  border-color: #ff5b1a;
}
.btn-LightSalmon:active,
.btn-LightSalmon.active,
.open > .dropdown-toggle.btn-LightSalmon {
  background-image: none;
}
.btn-LightSalmon.disabled,
.btn-LightSalmon[disabled],
fieldset[disabled] .btn-LightSalmon,
.btn-LightSalmon.disabled:hover,
.btn-LightSalmon[disabled]:hover,
fieldset[disabled] .btn-LightSalmon:hover,
.btn-LightSalmon.disabled:focus,
.btn-LightSalmon[disabled]:focus,
fieldset[disabled] .btn-LightSalmon:focus,
.btn-LightSalmon.disabled.focus,
.btn-LightSalmon[disabled].focus,
fieldset[disabled] .btn-LightSalmon.focus,
.btn-LightSalmon.disabled:active,
.btn-LightSalmon[disabled]:active,
fieldset[disabled] .btn-LightSalmon:active,
.btn-LightSalmon.disabled.active,
.btn-LightSalmon[disabled].active,
fieldset[disabled] .btn-LightSalmon.active {
  background-color: #ff9266;
  border-color: #ff5b1a;
}
.btn-LightSalmon .badge {
  color: #ff9266;
  background-color: #fff;
}
