/* body color (en attente d'une meilleur solution)*/
body{
  background-color:#E9E9E9;
}
/* Conteneur principal (en attente d'une meilleur solution)*/
.container{
  width:95%;
}

#global-container{
  background-color: #E9E9E9;
  padding:0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

#global-container>#container-chart{
  flex:4;
}

#global-container>#container-info{
  flex:1;
}

#container-chart, #container-info, .container-interpretation{
  border: 1px solid #8F979B;
  background-color:#FFF;
}

/* Conteneurs */
#container-chart, #container-chart-2{
  font: 10px sans-serif;
  margin: 0 auto;
}

#container-info{
}

.container-interpretation{
  min-height: 250px;
  margin: 7px 0px;
}

#chart{
  padding: 0;
  min-height: 500px;
  clear:both;
}

svg{
  width: 100%;
}

#title-chart, #title-info{
  margin:25px 0px;
}

#title-chart{
  text-align: center;
}

#toolbar-chart, #toolbar-chart-2{
  margin-bottom: 25px;
}

.th-chart-style{
  border-top:none;
  padding-top:15px;
}

.axis path, .axis line{
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x.axis path{
  stroke-width: 1;
}

/* Grille */
.grid .tick {
  stroke: #D4D4D4;
  opacity: 0.7;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.plot {
    fill: rgba(250, 250, 255, 0.6);
}

.col-md-12{
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
  -o-animation: fadein 5s; /* Opera */
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.3 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.fixed-square{
  width: 12px;
  height: 12px;
}

.dasharray-line{
  display: none;
  stroke: black;
  stroke-dasharray: 3.3;
  opacity: 0.5;
}

/* redéfinitions en fonction d'autres résolutions */
@media screen and (max-width: 1260px) {
  #global-container{
    display: block;
  }

  #global-container>#container-chart{
    flex:none;
    width: inherit;
  }

  #global-container>#container-info{
    flex:none;
    display: inline-table;
    width: inherit;
    margin-top: 7px;
  }

  #container-info{
    margin-left: 0px;
  }
}

@media screen and (max-width: 1260px){
  #global-container>#container-info{
    display: block;
  }
}
