body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #f9f9f9;
}
a {
	text-decoration: none;
}

a:hover {
	color: #F59105;
}
.liste {
    color: #000;
}
.liste:hover {
    color: #0101DF;
}

.glyphicon {
    font-size: 125%;
}

/* ######## form ######## */

.inline-form-opt{
    display: inline-block;
}

.control-group{
    margin-top: 20px;
}

/* ######## panel ######*/

.well{
    overflow: auto;
}

/* Container principal des vue dans la vue main*/
.container{
 margin-top:70px;
}

/*Css page connexion*/
#conteneurConnexion .modal-body{
   max-height:540px;
}
#conteneurConnexion .tab-content{
   overflow:hidden;
}
#conteneurAuthentification{
    top: 30px;
}
#conteneurAuthentification .modal-body{
    max-height: 560px;
}
#conteneurAuthentification .modal-body #myTabContent{
    max-height: 560px;
    overflow: hidden;
}



/* tooltip d'alerte */
.alertStyle {
  text-align:center;
  margin: 0 auto;
  margin-top: 30px;
  width:40%;
}

/* Largeur et position d'un div pour les formulaires de type input-groupe-addon */
.div-width{
    width:100px
}
.div-center{
    margin:auto;
}

.div-align{
    text-align:center;
}

.navbar-inverse .navbar-nav>li>a{

}

.home-icon{
    color:#3493B3;
    line-height: normal
}

.logout{
    color:#B40001;
    text-decoration:none;
    padding-left:10px;
    padding-right:10px;
}

.logout:hover{
    text-decoration:none;
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* ########## restitution ########### */
.restitution-panel {
    background: white;
    padding: 50px 20px;
    border: 1px solid black;
}
