@import be.objectify.deadbolt.core.utils.TemplateUtils.{la, as}
@import be.objectify.deadbolt.java.views.html.restrict

@css() = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/retina_ready_menu_css/default.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/retina_ready_menu_css/component.css")">
}

@scripts() = {
    <script>
            //  The function to change the class
            var changeClass = function (r,className1,className2) {
                var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
                if( regex.test(r.className) ) {
                    r.className = r.className.replace(regex,' '+className2+' ');
                }
                else{
                    r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
                }
                return r.className;
            };

            //  Creating our button in JS for smaller screens
            var menuElements = document.getElementById('menu');
            menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

            //  Toggle the class on click to show / hide the menu
            document.getElementById('menutoggle').onclick = function() {
                changeClass(this, 'navtoogle active', 'navtoogle');
            }

            // http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
            document.onclick = function(e) {
                var mobileButton = document.getElementById('menutoggle'),
                        buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

                if(buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
                    changeClass(mobileButton, 'navtoogle active', 'navtoogle');
                }
            }
    </script>

    <script src="js/modernizr.custom.js"></script>
    <script src="@routes.Assets.versioned("javascripts/retina_ready_menu_js/modernizr.custom.js")" type="text/javascript"></script>
}

@main("HL Graph",scripts,css){
    @if(flash.containsKey("success")) {
    <div class="alert alert-success alertMasquee alertStyle">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Succés ! </strong> @flash.get("success")
    </div>
    }
    <div class="menu-header">
        <h1>Bienvenue sur HL Graph  @session.get("userFirstName")  @session.get("userName")<span>Application d'analyses et d’interprétations de résultats dans le domaine de la luminothérapie</span></h1>
    </div>
    <div class="main clearfix">
        <div id="menu" class="menu-nav">
            <ul>
                @restrict(roles = la(as("user"))){
                <li>
                    <a href="/listePatients">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-list-alt"></i>
                        </span>
                        <span>Patients</span>
                    </a>
                </li>
                }

                @restrict(roles = la(as("user"))){
                <li>
                    <a href="/listeMedecins">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-list-alt"></i>
                        </span>
                        <span>Médecins</span>
                    </a>
                </li>
                }

                @restrict(roles = la(as("user"))){
                <li>
                    <a href="listSensor">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-list-alt"></i>
                        </span>
                        <span>Capteurs</span>
                    </a>
                </li>
                }

                @restrict(roles = la(as("user"))){
                <li>
                    <a href="listeScenarios">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-book"></i>
                        </span>
                        <span>Scénarios</span>
                    </a>
                </li>
                }

                @restrict(roles = la(as("user"))){
                <li>
                    <a href="/listeSequencesMongo">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-book"></i>
                        </span>
                        <span>Séquences</span>
                    </a>
                </li>
                }

                <li>
                    <a href="#">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <span>Contact</span>
                    </a>
                </li>


                <li>
                    <a href="/testR">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-user"></i>
                        </span>
                        <span>Test R</span>
                    </a>
                </li>



                @restrict(roles = la(as("user"))){
                <li>
                    <a href="/listeStimulis">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-eye-open"></i>
                        </span>
                        <span>Stimulis</span>
                    </a>
                </li>
                }
                <!- ajout dmj ->
                @restrict(roles = la(as("user"))){
                <li>
                    <a href="/listeMotifs">
                        <span class="icon">
                            <i aria-hidden="true" class="glyphicon glyphicon-random"></i>
                        </span>
                        <span>Types de motifs</span>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
}

