@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<div id="myTabContent" class="tab-content">
    <form role="form" class="form-horizontal" action="/addSensor" method="post">
        <fieldset>
            <div class="legend">
                <legend class="">Création d'un capteur</legend>
            </div>
            <div class="form-group">
                <label for="unite" class="col-sm-4 control-label">Unité</label>
                <div class="col-sm-5">
                    <input type="text"
                           title="Unite du capteur"
                           id="unite"
                           name="unite"
                           class="form-control input-medium"
                           placeholder="Unite du capteur"
                           autofocus>
                </div>
            </div>

            <!-- ============================================================================================================== -->
            <!-- ============================================================================================================== -->

            <div class="form-group">
                <label for="captorType" class="col-sm-4 control-label">Type de capteur</label>
                <div class="col-sm-5">
                    <input type="text"
                           title="Type du capteur"
                           class="form-control input-medium"
                           id="captorType"
                           name="captorType"
                           placeholder="Veuillez décrire le type de capteur utilisé">
                </div>
            </div>

            <!-- ============================================================================================================== -->
            <!-- ============================================================================================================== -->

            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Description</label>
                <div class="col-sm-5">
                    <input type="text"
                           maxlength="45"
                           required
                           class="form-control input-medium"
                           id="description"
                           name="description"
                           placeholder="Veuillez décrire le capteur">
                </div>
            </div>

            <div class="form-group">
                <label for="responseBytes" class="col-sm-4 control-label">Byte de réponse</label>
                <div class="col-sm-5">
                    <input required
                           type="number"
                           maxlength="30"
                           class="form-control input-medium"
                           id="responseBytes"
                           name="responseBytes"
                           placeholder="Byte de réponse">
                </div>
            </div>

            <div class="controls" style="text-align:center">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <div style="display:inline-block">
                    <a href="/listSensor" class="btn btn-danger" role="button">Annuler</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
}

