@css() = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/datepicker/bootstrap-datetimepicker.css")">
}

@scripts() = {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/moment.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/datepicker/bootstrap-datetimepicker.js")"></script>
    <script type="text/javascript">
            $(function () {
                $('.datepicker').datetimepicker({
                    format: 'DD-MM-YYYY'
                });
            });
    </script>
}

@main("HL Graph",scripts,css) {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well">
        <form role="form" class="form-horizontal" action="/addPatient" method="post">
            <div>
                <div class="legend">
                    <legend class="">Création d'un patient</legend>
                </div>

                <div class="col-md-3">
                    <div class="control-group">
                        <!-- NOM -->
                        <label class="control-label" for="lastname">Nom Patient</label>

                        <div class="controls">
                            <input required type="text" id="lastname" name="lastname" placeholder=""
                                   class="form-control">
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Prénom -->
                        <label class="control-label" for="firstname">Prénom Patient</label>

                        <div class="controls">
                            <input required type="text" id="firstname" name="firstname"
                                   placeholder=""
                                   class=" form-control">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="birthday">Date de Naissance</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input required type="text" class="form-control datepicker" name="birthday" id="birthday" >
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Button Créer un patient -->
                    <div class="control-group">
                        <div class="inline-form-opt">
                            <button type="submit" class="btn btn-primary">Créer un patient</button>
                        </div>
                        <div class="inline-form-opt">
                            <a href="/listePatients" class="btn btn-danger" role="button">Annuler</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
}