@(lesStimuliTypes : List[model.StimuliType])
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}

<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action="/addStimuli" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Création d'un stimulus</legend>
                </div><!--div id="legend"-->

                <div class="col-md-6">
                    <div class="control-group">
                        <!-- =====================================================================   -->
                        <div class="control-group">
                            <label for="stimulusColor" class="control-label">Couleur</label>
                            <div class="controls">
                                <select name="stimulusColor" id="stimulusColor" class="form-control ">
                                    <option value="GREEN_570_NM">GREEN_570_NM</option>
                                    <option value="RED_660_NM">RED_660_NM</option>
                                    <option value="GREEN_505_NM">GREEN_505_NM</option>
                                    <option value="WHITE_COLD">WHITE_COLD</option>
                                    <option value="WHITE_HOT">WHITE_HOT</option>
                                    <option value="WHITE_NEUTRAL">WHITE_NEUTRAL</option>
                                </select>
                            </div>
                        </div>

                        <!-- =====================================================================   -->
                    </div>

                    <div class="control-group">
                        <!-- Intensité -->
                        <label class="control-label" for="intensity">Intensité</label>

                        <div class="controls">
                            <input required type="number" id="intensity" name="intensity"
                                   placeholder="" min="0" max="100"
                                   class=" form-control">
                        </div><!--div class="controls"-->
                    </div><!--div class="control-group"-->

                    <!-- Fréquence -->
                    <label class="control-label" for="frequency">Fréquence</label>
                        <div class="controls">
                            <input required type="text" id="frequency" name="frequency"
                                   placeholder=""
                                   class=" form-control">
                        </div><!--div class="controls"-->

                    <!-- Bouttons Créer un Stimulus -->
                    <div class="controls">
                        <div style="display:inline-block">
                            <button type="submit" class="btn btn-primary">Créer un Stimuli</button>
                        </div>
                        <div style="display:inline-block">
                            <a href="/listeStimulis" class="btn btn-danger" role="button">Annuler</a>
                        </div>
                    </div><!--div class="controls"-->
                </div>

            </fieldset>

    </form>
    </div>
</div>
}