@(stimulis: List[model.new_database.Stimulus])
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}

<div class="well marginTop">
    <div class="legend col-sm-offset-3">
        <legend class="">Création d'une séquence</legend>
    </div>

    <form role="form" class="form-horizontal" action="/addSequenceMongo" method="post">

            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Description</label>
                <div class="col-sm-5">
                    <input type="text"
                           required
                           title="Description"
                           id="description"
                           name="description"
                           class="form-control input-medium"
                           placeholder="Description de la séquence"
                           autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="duration" class="col-sm-4 control-label">Durée en minutes</label>
                <div class="col-sm-5">
                    <input type="number"
                           required
                           title="Durée"
                           id="duration"
                           name="duration"
                           class="form-control input-medium"
                           placeholder="Durée de la séquence en minutes"
                           autofocus>
                </div>
            </div>

           <div class="form-group">
                <label class="col-sm-4 control-label">Stimulis</label>
                <div class="col-sm-5">
                    <select name="stimuliId" id="stimuli" class="form-control">
                        @for(stimuli <- stimulis) {
                        <option value="@stimuli._id"> @stimuli.getColor - Fréquence @stimuli.getFrequency Hz - Intensité @stimuli.getIntensity % </option>
                        }
                    </select>
                </div>
            </div>
            <input type="hidden" name="orderIndex" value="@stimulis.size()"/>

        <!--<div class="form-group">
            <label for="stimulis" class="col-sm-4 control-label">Type de stimuli</label>
            <div class="col-sm-5">
                <select name="stimuliType" id="stimulis" class="form-control">
                    <option value="LIGHT"> LIGHT </option>
                    <option value="NO_STIMUL"> NO_STIMUL </option>
                </select>
            </div>
        </div>-->

        <div class="controls" style="text-align:center">
            <button type="submit" class="btn btn-success">Créer une nouvelle séquence</button>
            <div style="display:inline-block">
                <a href="/listeSequencesMongo" class="btn btn-danger" role="button">Annuler</a>
            </div>
        </div>
    </form>
</div>
}