@(stimulis: List[model.new_database.Stimulus])(capteurs : List[model.new_database.Capteur])
@main("HL Graph"){

    <div class="legend">
        <legend class="">Création d'un scénario</legend>
    </div>
    <form class="form-horizontal" action="/addScenario" method="post">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-10">
                <input required type="text" name="title" required class="form-control" id="title" placeholder="Titre du scénario" onkeyup='this.value=this.value.toUpperCase()'/>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input required type="text" name="description" id="description" required class="form-control" placeholder="description" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label for="scenarioType" class="col-sm-2 control-label">Type de scénario</label>
            <div class="col-sm-10">
                    <select name="scenarioType" required id="scenarioType" class="form-control">
                        <option value="LINEAR">Linéaire</option>
                        <option value="NON_LINEAR">Non linéaire</option>
                    </select>
            </div>
        </div>



        <!-- =========================================== -->
        <!--         <checkbox>      -->
        <!-- =========================================== -->
        <div class="col-sm-3">
            @for(capteur <- capteurs) {
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input  type="checkbox"  name="capteur" id="@capteur._id" value="@capteur._id"/>@capteur.getCaptorType()
                        </label>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- =========================================== -->
        <!--        Fin <checkbox>      -->
        <!-- =========================================== -->

        <!-- =========================================== -->
        <!--         choix des séquences      -->
        <!-- =========================================== -->
        <div class="col-sm-8">
            <div class="well marginTop">
                <div class="legend">
                    <legend class="">Liste des séquences</legend>
                </div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Ajouter séquence
                </button>
                <div id="myTabContent" class="tab-content">
                    <table id="dataTableSequences" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Stimuli</th>
                            <th>Durée</th>
                            <th>Type de stimuli</th>
                            <th>Ordre</th>
                        </tr>
                        </thead>
                        <tbody id="sequenceList">

                        </tbody>
                    </table>
                </div>

            </div>
            <input type="hidden" name="jsonListOfSequences" id="jsonListOfSequences" value="">
            <div class="form-group">
                <div class=" col-sm-10">
                    <button type="submit" class="btn btn-success btn-lg">Enregistrer le scénario</button>
                    <a href="/listeScenarios" class="btn btn-lg btn-danger">Annuler</a>
                </div>
            </div>
        </div>
    </form>

<!--==============================================  -->
<!--        Fenêtre modal ajout de séquences        -->
<!--==============================================  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter séquence</h4>
            </div>

            <div class="modal-body ">
                <div class="form-group">
                    <label for="seqStimuliType" class="col-sm-4 control-label">Type de stimuli</label>
                    <div class="col-sm-8">
                        <select name="stimuliType" id="seqStimuliType" class="form-control" onchange="disableStimuli()">
                            <option value="LIGHT"> Lumière </option>
                            <option value="NO_STIMUL"> Pas de stimulation </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seqStimuli" class="col-sm-4 control-label">Stimulis</label>
                    <div class="col-sm-8">
                        <select name="stimuliId" id="seqStimuli" class="form-control">
                            @for(stimulus <- stimulis) {
                            <option value="@stimulus._id"> @stimulus.getColor - Fréquence @stimulus.getFrequency Hz - Intensité @stimulus.getIntensity% </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seqDuration" class="col-sm-4 control-label">Durée en minutes</label>
                    <div class="col-sm-8">
                        <input type="number"
                               required
                               title="Durée"
                               id="seqDuration"
                               name="duration"
                               class="form-control input-medium"
                               placeholder="Durée de la séquence en minutes"
                               autofocus/>
                    </div>
                </div>


                <input type="hidden" name="orderIndex" value="@stimulis.size()"/>

            </div>
            <div class="modal-footer ">
                <div class="form-group col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="addSequenceBtn" class="btn btn-primary">Ajouter séquence</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================================  -->
<!--        Fin Fenêtre modal ajout de séquences        -->
<!--==============================================  -->


}
<script>

    function disableStimuli() {
        if($('#seqStimuliType').val()== "NO_STIMUL"){
            $('#seqStimuli').val("");
            $('#seqStimuli').prop("disabled", true);
        }
       else
           $('#seqStimuli').prop("disabled", false);
    };

    $('#addSequenceBtn').click(function(){
        var description = $('#seqStimuli option:selected').text();
        if(description == null){
            description = "";
        }
        var duration = $('#seqDuration').val();
        var stimuli = $('#seqStimuli').val();
        var stimuliType = $('#seqStimuliType').val();

        if($('#jsonListOfSequences').val().length>0) {
            var listSequence = JSON.parse($('#jsonListOfSequences').val());
        }
        else {
            var listSequence = [];
        }
        var uneScenarioSequence = {
            "description" : description,
            "duration" : duration,
            "stimuli" : stimuli,
            "stimuliType" : stimuliType,
            "orderIndex" : listSequence.length+1
        };
        listSequence.push(uneScenarioSequence);
        $('#jsonListOfSequences').val(JSON.stringify(listSequence));

        listSequence = JSON.parse($('#jsonListOfSequences').val());
        $('#description').val(listSequence.length + " séquence(s)");
        var html = "";
        for(var i = 0; i<listSequence.length; i++){
            html+="<tr><td>" + listSequence[i]["description"] + "</td><td>"
             + listSequence[i]["duration"] + "</td><td>" + listSequence[i]["stimuliType"] + "</td><td>"
             + listSequence[i]["orderIndex"] + "</td></tr>";
            $('#sequenceList').html(html);
        }
    });

</script>
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">

