@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action="/addUser" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Création d'un compte utilisateur</legend>
                </div><!--div id="legend"-->
                <div class="col-md-3">
                    <div class="form-group">
                        <!-- NOM -->
                        <label class="control-label" for="login">Login</label>
                        <input required class="form-control" type="text" id="login" name="login" placeholder="">
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- NOM -->
                        <label class="control-label" for="userLastName">Nom</label>
                        <input required class="form-control" type="text" id="userLastName" name="userLastName" placeholder="">
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- Prénom -->
                        <label class="control-label" for="userFirstname">Prénom</label>
                        <input required class="form-control" type="text" id="userFirstname" name="userFirstname"
                               placeholder="">
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- Rôles utilisateur -->
                        <label class="control-label" for="adminRole">Rôle(s)</label>
                        <input type="checkbox" id="adminRole" name="rolesList[]" value="admin">
                        <label class="control-label" for="adminRole">admin</label>
                        <input type="checkbox" id="userRole" name="rolesList[]" value="user">
                        <label class="control-label" for="userRole">user</label>
                    </div><!--div class="form-group"-->
                    <div class="form-group">
                        <!--mdp -->
                        <label class="control-label" for="userPassword">mot de passe</label>
                        <input required class="form-control" type="password" id="userPassword" name="userPassword"
                               pattern=".{8,}" required title="8 caractères minimum">
                    </div><!--div class="form-group"-->
                    <div class="form-group">
                        <label class="control-label" for="confirmUserPassword">confirmation du mot de passe</label>
                        <input required class="form-control"
                               type="password"
                               name="confirmUserPassword"
                               id="confirmUserPassword"
                               style="opacity: 0.8;"
                        >
                    </div><!--div class="form-group"-->

                    <br/>
                    <!-- Button Créer un compte -->
                    <div class="form-group">
                        <div style="display:inline-block">
                            <button type="submit" class="btn btn-primary" id="modifier" disabled>Créer ce compte
                            </button>
                        </div>
                        <div style="display:inline-block">
                            <a href="/gestionCompte" class="btn btn-danger" role="button">Annuler</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
<script>
  $('#confirmUserPassword').on('input', function(){
      if( $('#confirmUserPassword').val() == $('#userPassword').val().substring(0,$('#confirmUserPassword').val().length) && $('#confirmUserPassword').val().length != $('#userPassword').val().length ){
        console.log('partial match');
        $('#confirmUserPassword').attr("class","form-control label-warning");
        $('#modifier').attr('disabled', 'disabled');
      }
      else if( $('#confirmUserPassword').val()==$('#userPassword').val() ){
        console.log(' match');
        $('#confirmUserPassword').attr("class","form-control label-success");
        $('#modifier').attr('disabled', null);
        $('#modifier').attr('class', 'btn btn-success');
      }
      else{
        console.log('unmatch');
        $('#confirmUserPassword').attr("class","form-control label-danger");
        $('#modifier').attr('disabled', 'disabled');
      }
  });
</script>