@(creatioMotif: Form[model.TypeMotif])
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}

<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action="/addMotif" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Création d'un type de motif</legend>
                </div><!--div id="legend"-->

                <div class="col-md-6">
                        <!-- =====================================================================   -->

                    <div class="col-md-6">
                        <!-- Intensité -->
                        <label class="control-label" for="motifTyp">Type de motif</label>

                        <div class="controls">
                            <input required type="text" id="motifTyp" name="motifTyp"
                                   class=" form-control">
                        </div><!--div class="controls"-->

                        <!-- Capteur
                        <label class="control-label" for="capteur">Nombre d'usage</label>

                        <div class="controls">
                            <input required type="text" id="capteur" name="capteur"
                                   placeholder=""
                                   class=" form-control">
                        </div> -->
                        <!--div class="controls"-->

                        <!-- Bouttons Créer un motif -->
                        <div class="controls">
                            <div style="display:inline-block">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                            <div style="display:inline-block">
                                <a href="/listeMotifs" class="btn btn-danger" role="button">Annuler</a>
                            </div>
                        </div><!--div class="controls"-->


                    </div><!--div class="control-group"-->





                </div>

            </fieldset>

    </form>
    </div>
</div>
}