@(_id:String)(firstname: String)(lastname: String)(seanceNumber: Int)(scenarios:List[model.ScenarioMongo])
@import java.lang.String;  var h = 0; var m = 0;
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<div class="container">
    <div class="well marginTop">
        <form role="form"  action="/addSeance" method="post">
            <fieldset class="form-group">
                <div class="legend">
                    <legend class="">Création d'une séance</legend>
                </div>

                <input type="hidden" name="seanceNumber" id="seanceNumber" value="@seanceNumber"/>
                <input type="hidden" name="patientMongoId" id="patientMongoId" value="@_id"/>


                <div class="form-group col-md-10">
                    <!-- Date  -->
                    <div class="col-md-3">
                        <label class="form-control-label" for="date_start">Date de la séance</label>
                    </div>
                    <div class='input-group date col-md-3' data-provide="datepicker">
                        <input required type='text' class="form-control datepicker" name="date_start" id="date_start"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class='form-group col-sm-10'>
                    <!-- Heure  -->
                    <div class="col-md-3">
                        <label class="form-control-label" for="time_start">Heure de la séance</label>
                    </div>
                    <div class='input-group date col-md-3' id='datetimepicker_heure'>
                        <input type='text' class="form-control datetimepicker_heure" name="time_start" id="time_start"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-10">
                    <div class="col-md-3">
                        <label for="scenario" class="form-control-label">Choix du scénario</label>
                    </div>
                    <div class="col-md-3">
                        <select name="scenarioMongoId" id="scenario" class="form-control">
                            @for(scenario <- scenarios) {
                            <option value="@scenario._id"> @scenario.title </option>
                            }
                        </select>
                    </div>
                </div>

                <br/>
                <!-- Button Créer un patient -->
                <div class="controls col-md-10 col-md-offset-2">
                    <div style="display:inline-block">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    <div style="display:inline-block">
                        <a href="/listePatients" class="btn btn-danger" role="button">Annuler</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/datepicker/bootstrap-datetimepicker.css")">
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/moment.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/datepicker/bootstrap-datetimepicker.js")"></script>
<script type="text/javascript">
$(function () {
     $('.datepicker').datetimepicker({
     format: 'DD-MM-YYYY',
     minDate: new Date()
    });
});

 $(function () {
    $('.datetimepicker_heure').datetimepicker({
        format: 'HH:mm:ss',
    });
});

</script>


}