@(leScenario:model.new_database.Scenario)(test : Int)
@main("HL Graph"){

    <div>
        <h2 class="">Description du scénario</h2>
    </div>
    </br>
    <div class="well marginTop">
        <div id="myTabContent" class="tab-content">
            <table id="dataTableScenario" class="table table-striped">
                <tr>
                    <th>Titre</th>
                    <td>@leScenario.getTitle</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@leScenario.getDescription</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>@leScenario.getScenarioType</td>
                </tr>
                <tr>
                    <th>Capteur(s)</th>
                    <td>
                        <ul>

                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- liste des séquences -->


    <div>
        <a href="/listeScenarios" class="btn btn-primary">Retout à la liste</a>
        @if(test==0){
            <a href="@routes.ScenarioController.modifierScenario(leScenario._id)" class="btn btn-success">Modifier</a>
        }
    </div>



}


