@(message: String)

@main("HL Graph") {

<!-- Conteneur Page HandiLight -->
    <div class="container">
        <!-- Menu de navigation -->
        <h2>Etablissement et gestion de la séquence de stimulation :</h2>
        <div class="btn-group" role="group" aria-label="...">
            <a href="etablissementsequence" class="btn btn-info" role="button">Paramètre actuel</a>
            <a href="etablissementLumineuse"  class="btn btn-default">La stimulation lumineuse</a>
            <a href="etablissementParadigme"  class="btn btn-default">La stimulation "odd/ball paradigme"</a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <!-- Formulaire paramètrage -->
        <h3>Paramètres de la stimulation lumineuse :</h3>
           &nbsp;
            <p>
                <label class="alignLabelForm">Capteur électroencéphalogramme (EEG) :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                        <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Capteur Pouls :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                        <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Capteur Clignements de paupière :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                        <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Capteur Mouvements de la tête (gyromètre) :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                        <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Capteur Conductance de la peau :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                        <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                    </span>
            </p>
            &nbsp;
        <h3>Paramètres de la stimulation "odd/ball paradigme":</h3>
            &nbsp;
            <p>
                <label class="alignLabelForm">Son non-cible (choix du type de son) :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="Grave"><input type="radio" name="options">Grave</label>
                        <label class="btn btn-primary active" id="Aigu"><input type="radio" name="options">Aigu</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Fréquence du son non-cible (Hz) :</label><input type="number" step="1" value="0" min="0" max="64">
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Son cible (choix du type de son) :</label>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" id="Grave"><input type="radio" name="options">Grave</label>
                        <label class="btn btn-primary active" id="Aigu"><input type="radio" name="options">Aigu</label>
                    </span>
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Fréquence du son cible (Hz) :</label><input type="number" step="1" value="0" min="0" max="64">
            </p>
            &nbsp;
            <p>
                <label class="alignLabelForm">Intervalle d'émission de deux sons cibles (seconde) :</label><input type="number" step="1" value="0" min="0" max="64">
            </p>
            &nbsp;
    </div><!--FIN-div class="container"-->
}