@(message: String)

@main("HL Graph") {

<!-- Conteneur Page HandiLight -->
	<div class="container">
		<!-- Menu de navigation -->
		<h2>Etablissement et gestion de la séquence de stimulation :</h2>
		<div class="btn-group" role="group" aria-label="...">
			<a href="etablissementsequence"  class="btn btn-default">Paramètre actuel</a>
			<a href="etablissementLumineuse" class="btn btn-info" role="button">La stimulation lumineuse</a>
			<a href="etablissementParadigme"  class="btn btn-default">La stimulation "odd/ball paradigme"</a>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div>
		<!-- Formulaire paramètrage -->
		<h3>Paramètrages de la stimulation lumineuse :</h3>
			&nbsp;
			<p>
				<label class="alignLabelForm">Capteur électroencéphalogramme (EEG) :</label>
					<span class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
						<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
					</span>
			</p>
			&nbsp;
			<p>
				<label class="alignLabelForm">Capteur Pouls :</label>
					<span class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
						<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
					</span>
			</p>
			&nbsp;
			<p>
				<label class="alignLabelForm">Capteur Clignements de paupière :</label>
					<span class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
						<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
					</span>
			</p>
			&nbsp;
			<p>
				<label class="alignLabelForm">Capteur Mouvements de la tête (gyromètre) :</label>
					<span class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
						<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
					</span>
			</p>
			&nbsp;
			<p>
				<label class="alignLabelForm">Capteur Conductance de la peau :</label>
					<span class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
						<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
					</span>
			</p>
			&nbsp;
	</div><!--FIN-div class="container"-->
}