@(users: List[model.User])
@import java.lang.String;
@import java.math.BigInteger; var i=0;

@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste d'utilisateurs</legend>
        </div><!--div id="legend"-->
       <div align="left"><a href="/creationCompte" class="btn btn-primary" type="submit">Ajouter un utilisateur</a>
       </div>
        </br>
        <!--Interface de connexion - Création de compte HandiLight :-->
        <div id="myTabContent" class="tab-content">
            <table id="dataTable" class="table table-striped">
                <thead>
                        <tr>
                            <th>Login</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Rôle(s)</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for(user <- users) {
                            <tr>
                                <td>@user.login</td>
                                <td>@user.userFirstName</td>
                                <td>@user.userName</td>
                                <td>
                                    @{var strRole:String ="";
                                        for(r <- user.roles) {
                                            if(strRole != ""){
                                                strRole += ", ";
                                            }
                                        strRole += r.toString();
                                        }
                                    strRole
                                    }
                                </td>
                                <td>
                                    <a href="@routes.UserController.modifierCompte(user._id)" class="btn btn-primary" type="submit">Modifier</a>
                                </td>
                                <td>
                                    <a onmousedown="confirmer(this.id);" href="@routes.UserController.deleteUser(user._id)" class="btn btn-danger" id="supprimer@i" name="supprimer[]" type="submit">Supprimer</a>
                                    @{i=i+1}
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
        </div><!--FIN <div id="myTabContent" class="tab-content"> -->
    </div><!--FIN <div class="well">-->
}
<script>
function confirmer(id){
bootbox.setLocale("fr");
bootbox.confirm("Confirmer la suppression?", function(result) {
if(result){
 document.getElementById(id).click();
 }
});
}
</script>
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTableSansDate.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">
