@(patients: List[model.new_database.Patient])
@import java.lang.String;
@import java.math.BigInteger; var i=0;

@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste des patients</legend>
        </div><!--div id="legend"-->
        <div align="right"><a href="/creationPatient" class="btn btn-primary" type="submit">Ajouter un patient</a>
        </div>
        <!--Interface de connexion - Création de patient HandiLight :-->
        <div id="myTabContent" class="tab-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                @for(patient <- patients) {
                <tr>
                    <td>@patient.getLastname</td>
                    <td>@patient.getFirstname</td>
                    <td>@patient.getBirthday</td>

                    <td>
                        <a href="@routes.PatientController.modifierPatient(patient._id)" class="btn btn-primary" type="submit">Modifier</a>
                    </td>
                    <td>
                        <a onmousedown="confirmer(this.id);" href="@routes.PatientController.deletePatient(patient._id)" class="btn btn-danger" id="supprimer@i" name="supprimer[]" type="submit">Supprimer</a>
                        @{i=i+1}
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div><!--FIN <div id="myTabContent" class="tab-content"> -->
    </div><!--FIN <div class="well">-->
}
<script>
function confirmer(id){
bootbox.setLocale("fr");
bootbox.confirm("Confirmer la suppression?", function(result) {
if(result){
 document.getElementById(id).click();
 }
});
}
</script>