@(loginForm: Form[model.User])

@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" >&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<head>
    <title>HL GRAPH</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div id="conteneurAuthentification"><!--id="loginModal"-->

            <div class="modal-body">
                <div class="well marginTop">
                    <form role="form" class="form-horizontal" action="/authenticate" method="post" autocomplete="off">
                        <fieldset>
                            <div class="legend">
                                <legend>Connexion HL Graph</legend>
                            </div>
                            <div class="control-group">
                                <!-- Login -->
                                <label class="control-label" for="login">Login</label>

                                <div class="controls">
                                    <input type="text" id="login" autofocus  class="focusedInput" name="login" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="userPassword">Mot de passe</label>

                                <div class="controls">
                                    <input type="password" id="userPassword" name="userPassword" placeholder=""
                                           class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Button Login -->
                                <div class="controls">
                                    <button type="submit" class="btn btn-success">Login</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
