@(stimulis: List[model.new_database.Stimulus])
@import java.math.BigInteger; var i=0;
@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste de stimulis</legend>
        </div><!--div id="legend"-->
        <div align="right"><a href="/creationStimuli" class="btn btn-primary" type="submit">Ajouter un stimuli</a>
        </div>
        <div id="myTabContent" class="tab-content" >
            <table id="dataTableStimulis" class="table table-striped" >
                <thead>
                <tr>
                    <th>Couleur</th>
                    <th>Intensité</th>
                    <th>Fréquence</th>
                    <th style="text-align:center;">Contrôles</th>
                </tr>
                </thead>
                <tbody>
                @(i=0)
                @for(stimuli <- stimulis) {
                <tr>
                    <td>@stimuli.getColor()</td>
                    <td>@stimuli.getIntensity()</td>
                    <td>@stimuli.getFrequency()</td>
                    <td style="text-align:center;">
                        <a href="@routes.StimuliController.modifierStimuli(stimuli._id)" class="btn btn-primary">Modifier</a>

                        <a onmousedown="confirmer(this.id);" href="@routes.StimuliController.deleteStimuli(stimuli._id)"
                           class="btn btn-danger" id="supprimer@i" name="supprimer[]">Supprimer</a>
                        @{i=i+1}
                    </td>

                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

<script>
function confirmer(id){
    bootbox.setLocale("fr");
    bootbox.confirm("Confirmer la suppression?", function(result) {
    if(result){
        document.getElementById(id).click();
    }
});
}
</script>

}

<!-- <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")"> -->
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">