@(_id:String)(firstName: String)(lastName: String)(seances:List[model.SeanceMongo])
@import java.math.BigInteger; var i=1; var seanceNumber=0; var id=1;

@main("HL Graph") {

<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste des séances du patient @firstName @lastName</legend>
        </div><!--div id="legend"-->
        @(seanceNumber = seances.length + 1)
        <div align="right">
            <a href="@routes.SeanceController.creationSeance(_id,firstName, lastName, seanceNumber)" class="btn btn-primary btn-lg" style="text-align:center; font-size:125%">Créer une séance</a>
        </div>
        <table id="dataTableSeance" class="table table-striped">
            <thead>
            <tr>
                <th class="div-align">Graphique</th>
                <th class="div-align">N° de séance</th>
                <th class="div-align">Date</th>
                <th class="div-align">Heure de début</th>
                <th class="div-align">N° de scénario</th>
                <th>Status</th>
                <th>Contrôles</th>
                <th class="div-align">Exporter en .CSV</th>
            </tr>
            </thead>
            <tbody>
            @(i=0)
            @for(seance <- seances) {
            <tr>
                <td class="div-align">
                    @if(seance.status != "NOT_STARTED"){
                    <a href="@routes.RestitutionController.restitution( 0, 30000,seance.numeroUniqueDeSeance, seance.patientMongoId, 30)">
                        <img alt="Graphique de la séance" src="@routes.Assets.versioned("images/interpolation_16.png")" />
                    </a>
                    }
                    @if(seance.status != "NOT_STARTED"){
                    <a href="@routes.RestitutionController.restitutionSingle( 0, 25595,seance.numeroUniqueDeSeance, seance.patientMongoId,0)">
                        <span class="glyphicon glyphicon-education"></span>
                    </a>
                    }
                </td>
                <td class="div-align"><a href="@routes.RestitutionController.restitution( 0, 30000,seance.numeroUniqueDeSeance, seance.patientMongoId,0)">
                    @seance.seanceNumber
                </a></td>
                <td class="div-align">@seance.date_start</td>
                <td class="div-align">@seance.time_start</td>
                <td class="div-align">@seance.scenario_id</td>
                <td>
                    @if(seance.status == "INTERRUPTED"){
                        Interrompue
                    }else{
                    @if(seance.status == "NOT_STARTED"){
                        Pas commencée
                    }else{
                        Terminée
                    }}
                </td>

                <td id="id@i">
                    @if(seance.status == "NOT_STARTED"){

                    <a href="@routes.SeanceController.modifierSeance(_id, seance.seanceNumber)" class="btn btn-primary">Modifier</a>

                    <a onmousedown="confirmer(this.id);" href="@routes.SeanceController.deleteSeance(seance.patientMongoId, seance.seanceNumber)" class="btn btn-danger" id="supprimer@i" name="supprimer[]">Supprimer</a>

                    }
                </td>
                <td>
                    <a href="@routes.SeanceController.exportCSV(seance.patientMongoId, seance.numeroUniqueDeSeance)" style="color: #49A9C9">CSV</a>
                    <br>
                    <a href="@routes.SeanceController.exportJSON(seance.patientMongoId, seance.numeroUniqueDeSeance)" style="color: #49A9C9">JSON</a>
                </td>


                @(i=i+1)

            </tr>
            }
            </tbody>
        </table>
        <a href="/listePatients">Retour</a>
    </div>
</div><!--FIN-div class="container"-->

<script>
function confirmer(id){
    bootbox.setLocale("fr");
    bootbox.confirm("Confirmer la suppression?", function(result) {
    if(result){
     document.getElementById(id).click();
    }
});
}

</script>

}

<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">

