@(listmotifs: List[model.TypeMotif])
@import java.lang.String; val newForm="create"
@import java.math.BigInteger; var i=0;

@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<div class="well marginTop">
    <div class="legend">
        <legend class="">Types des motifs</legend>
    </div><!--div id="legend"-->
    <div id="myTabContent" class="tab-content">
        <table id="dataTable" class="table table-striped">
            <thead>
            <tr>
                <th>Type de motif</th>
                <th>Supprimer</th>

                <th>
                    <a href="@routes.MotifController.creationMotif()" class="btn btn-primary" type="submit" title="Créer motif">Ajouter un motif</a>
                </th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            @for(motif <- listmotifs) {
            <tr>
                <td>@motif.getMotifTyp()</td>


                <td style="text-align:center">
                    <a onmousedown="confirmer(this.id);"
                       href="@routes.MotifController.deleteMotif(motif._id)"
                       class="glyphicon glyphicon-remove"
                       style="color:red"
                       title="Supprimer"
                       id="supprimer@i"
                       name="supprimer[]"
                       type="submit">
                    </a>

                </td>

                <td style="text-align:center">
                    <a href="@routes.MotifController.modifierMotif(motif._id)"
                       class="glyphicon glyphicon-edit"
                       title="Modifier"></a>
                </td>
                @{i=i+1}
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
function confirmer(id){
    bootbox.setLocale("fr");
    bootbox.confirm("Confirmer la suppression?", function(result) {
    if(result){
        document.getElementById(id).click();
    }
});
}
</script>
}
