@(sequences: List[model.new_database.ScenarioSequence])
@main("HL Graph") {
<div class="well marginTop">
    <div class="legend">
        <legend class="">Liste des séquences</legend>
    </div>
    <div align="right"><a href="/creationSequenceMongo" class="btn btn-primary" type="submit">Créer une séquence</a>
    </div>
    <div id="myTabContent" class="tab-content">
        <table id="dataTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Durée</th>
                    <th>Type de stimuli</th>
                    <th>N° index</th>
                    <th>Contrôles</th>
                </tr>
            </thead>
            <tbody>
                @for(scenarioSequence <- sequences) {
                    <tr>
                        <td>@scenarioSequence.getDescription()</td>

                        <td>@scenarioSequence.getDuration()</td>

                        <td>Color : @scenarioSequence.getStimulus().getColor() - Intensity : @scenarioSequence.getStimulus().getIntensity - Frequency : @scenarioSequence.getStimulus().getFrequency()</td>

                        <td>@scenarioSequence.getOrderIndex</td>

                        <td>
                            <a href="@routes.SequenceController.sequenceMongoRemove(scenarioSequence._id)"
                               title="Supprimer"
                               class="glyphicon glyphicon-remove"
                               style="color:red"
                               type="submit">
                            </a>
                        </td>

                     </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">