@(capteurs: List[model.new_database.Capteur])
@import java.lang.String; val newForm="create"
@import java.math.BigInteger; var i=0;

@test = { create }

@main("HL Graph") {
<div class="well marginTop">
    <div class="legend">
        <legend class="">Liste des capteurs</legend>
    </div><!--div id="legend"-->
    <div id="myTabContent" class="tab-content">
        <table id="dataTable" class="table table-striped">
            <thead>
            <tr>
                <th>Unité</th>
                <th>Type du capteur</th>
                <th>Description</th>
                <th>Byte de réponse</th>
                <th>
                    <a href="@routes.SensorController.createSensor()" class="btn btn-primary" type="submit" title="Ajouter un capteur">Ajouter un capteur</a>
                </th>
                <th></th>
            </tr>
            </thead>
             <tbody>
            @for(capteur <- capteurs) {
            <tr>
                <td>@capteur.getUnite</td>
                <td>@capteur.getCaptorType</td>
                <td>@capteur.getDescription</td>
                <td>@capteur.getResponseBytes</td>

                <td style="text-align:center">
                    <a href="@routes.SensorController.modifySensor(capteur._id)" class="glyphicon glyphicon-edit" title="Editer"></a>
                </td>
                <td style="text-align:center">
                    <a onmousedown="confirmer(this.id);"
                       href="@routes.SensorController.removeSensor(capteur._id)"
                       class="glyphicon glyphicon-remove"
                       style="color:red"
                       title="Supprimer"
                       id="supprimer@i"
                       name="supprimer[]"
                       type="submit">
                    </a>
                    @{i=i+1}
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
<script>
    function confirmer(id){
        bootbox.setLocale("fr");
        bootbox.confirm("Confirmer la suppression?", function(result) {
        if(result){
         document.getElementById(id).click();
         }
        });
    }
</script>

<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTableSansDate.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">
