@(patients: List[model.new_database.Patient])
@import java.math.BigInteger; var i=0;
@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste de patients</legend>
        </div><!--div id="legend"-->
        <div align="right"><a href="/creationPatient" class="btn btn-primary" type="submit">Ajouter un patient</a>
        </div>
        <div id="myTabContent" class="tab-content">
            <table id="dataTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Contrôles</th>
                    <th>Séances</th>
                </tr>
                </thead>
                <tbody>
                @for(patient <- patients) {
                <tr>
                    <td>
                        @patient.getFirstname</td>
                    <td>
                        @patient.getLastname</td>

                    <td>

                        @patient.getBirthday</td>
                    <td>

                        <a href="@routes.PatientController.modifierPatient(patient._id)" class="btn btn-primary">Modifier</a>

                        <a onmousedown="confirmer(this.id);" href="@routes.PatientController.deletePatient(patient._id)" class="btn btn-danger" id="supprimer@i" name="supprimer[]">Supprimer</a>
                        @{i=i+1}
                    </td>
                    <td>
                        <a href="@routes.SeanceController.listeSeancesPatient(patient._id)" class="glyphicon glyphicon-list-alt">
                        </a>
                    </td>
                </tr>

                }
                </tbody>
            </table>
        </div>
    </div>

<script>
function confirmer(id){
bootbox.setLocale("fr");
bootbox.confirm("Confirmer la suppression?", function(result) {
if(result){
 document.getElementById(id).click();
 }
});
}
</script>

}



<!-- <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")"> -->
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">