@(scenarios: List[model.new_database.Scenario])(verif : List[Int])
@import java.math.BigInteger; var i=0;
@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste des scenarios</legend>
        </div><!--div id="legend"-->
        <div align="right"><a href="/creationScenario" class="btn btn-primary" type="submit">Ajouter un scénario</a>
        </div>
        <div id="myTabContent" class="tab-content">
            <table id="dataTableScenario" class="table table-striped">
                <thead>
                <tr>
                    <th>Numéro de scénario</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Contrôles</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for(scenario <- scenarios){
                    <tr>
                        <td>
                            <a class="liste" href="@routes.ScenarioController.descriptionScenario(scenario._id, verif.get(i))">@scenario._id</a></td>
                        <td>
                            <a class="liste" href="@routes.ScenarioController.descriptionScenario(scenario._id, verif.get(i))">@scenario.getTitle</a></td>
                        <td>
                            <a class="liste" href="@routes.ScenarioController.descriptionScenario(scenario._id, verif.get(i))">@scenario.getDescription</a></td>
                        <td>
                            <a class="liste" href="@routes.ScenarioController.descriptionScenario(scenario._id, verif.get(i))">@scenario.getScenarioType</a></td>

                        <td>
                            <a href="@routes.ScenarioController.dupliquerScenario(scenario._id)" class="btn btn-xs btn-warning"> Dupliquer </a>
                        </td>
                        @if(verif.get(i)==0){
                        <td align="center">
                            <a onmousedown="confirmer(this.id);"
                               href="@routes.ScenarioController.scenarioRemove(scenario._id)"
                               class="btn btn-xs btn-danger"
                               style="color: #000"
                               title="Supprimer"
                               id="supprimer@i"
                               name="supprimer[]"
                               type="submit">
                                Supprimer</a>
                        </td>
                        }else{
                        <td>&nbsp</td>
                        }
                        @if(verif.get(i)==0){
                        <td>
                           <a href="@routes.ScenarioController.modifierScenario(scenario._id)" class="btn btn-xs btn-success"> Modifier </a>
                        </td>
                        }else{
                        <td>&nbsp</td>
                        }

                    </tr>
                    @{i=i+1}
                }
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    function confirmer(id){
        bootbox.setLocale("fr");
        bootbox.confirm("Confirmer la suppression?", function(result) {
        if(result){
         document.getElementById(id).click();
         }
        });
    }
</script>

<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">
