@(medecins: List[model.new_database.Doctor])
@import java.lang.String; val newForm="create"
@import java.math.BigInteger; var i=0;

@test = { create }

@main("HL Graph") {
    <div class="well marginTop">
        <div class="legend">
            <legend class="">Liste des médecins</legend>
        </div><!--div id="legend"-->
        <div id="myTabContent" class="tab-content">
            <table id="dataTable" class="table table-striped">
                <thead>
                <tr>
                    <th>N° rpps</th>
                    <th>N° de siret</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Discipline</th>
                    <th>Téléphone</th>
                    <th>Courriel</th>
                    <th>
                        <a href="@routes.MedecinController.creationMedecin()" class="btn btn-primary" type="submit" title="Ajouter un médecin">Ajouter un médecin</a>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for(doctor <- medecins) {
                <tr>
                    <td>@doctor.getRpps()</td>
                    <td>@doctor.getSiret()</td>
                    <td>@doctor.getLastname()</td>
                    <td>@doctor.getFirstname()</td>
                    <td>@doctor.getSpeciality()</td>
                    <td>@doctor.getTelNumber()</td>
                    <td><a href="#">@doctor.getEmail()</a></td>
                    <td style="text-align:center">
                        <a href="@routes.MedecinController.modifierMedecin(doctor._id)" class="glyphicon glyphicon-edit" title="Editer"></a>
                    </td>
                    <td style="text-align:center">
                        <a onmousedown="confirmer(this.id);"
                           href="@routes.MedecinController.medecinRemove(doctor._id)"
                           class="glyphicon glyphicon-remove"
                           style="color:red"
                           title="Supprimer"
                           id="supprimer@i"
                           name="supprimer[]"
                           type="submit">
                        </a>
                        @{i=i+1}
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
<script>
    function confirmer(id){
        bootbox.setLocale("fr");
        bootbox.confirm("Confirmer la suppression?", function(result) {
        if(result){
         document.getElementById(id).click();
         }
        });
    }
</script>

<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTableSansDate.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">