@(modifyScenarioForm: Form[model.new_database.Scenario])(leScenario:model.new_database.Scenario)(stimulis: List[model.new_database.Stimulus])(capteurs : List[model.new_database.Capteur])(jsonSequences:String)(jsonCapteurs:String)
@import java.lang.String;var selLinear = ""; var selNonLinear = "";var i=0;var checkEeg="";var checkEyeLid = ""; var checkPulse = ""; var checkSkin = ""; var checkHead = "";var selStimuliTypeLight="";var selStimuliTypeNo_Stimul=""; var option=1;
@main("HL Graph"){

    <div class="legend">
        <legend class="">Modification scénario</legend>
    </div>
    <form class="form-horizontal" action="/saveScenario" method="post">
        <input type="hidden" name="_id" value="@leScenario._id"/>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Titre</label>
            <div class="col-sm-10">
                <input required type="text" name="title" required value="@leScenario.getTitle" class="form-control" id="title" placeholder="Titre du scénario" onkeyup='this.value=this.value.toUpperCase()'/>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input required type="text" name="description" id="description" value="@leScenario.getDescription" required class="form-control" id="description" placeholder="description" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label for="typeScenario" class="col-sm-2 control-label">Type de scénario</label>
            <div class="col-sm-10">
                    <select name="typeScenario" required id="typeScenario" class="form-control">
                        @if(leScenario.getScenarioType=="LINEAR"){
                            @{selLinear = "selected"}
                        }
                        <option value="LINEAR" @selLinear>Linéaire</option>
                        @if(leScenario.getScenarioType=="NON_LINEAR"){
                            @{selNonLinear = "selected"}
                        }
                        <option value="NON_LINEAR" @selNonLinear>Non linéaire</option>
                    </select>
            </div>
        </div>



        <!-- =========================================== -->
        <!--         <checkbox>      -->
        <!-- =========================================== -->
        <div class="col-sm-3">
            @for(capteur <- capteurs) {
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input  type="checkbox"  name="capteur" id="@capteur._id" value="@capteur._id"/>@capteur.getCaptorType()
                        </label>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- =========================================== -->
        <!--        Fin <checkbox>      -->
        <!-- =========================================== -->






        <!-- =========================================== -->
        <!--         choix des séquences      -->
        <!-- =========================================== -->
        <div class="col-sm-8">
            <div class="well marginTop">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Ajouter séquence
                </button>
                <div id="myTabContent" class="tab-content">
                    <table id="dataTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ordre</th>
                            <th>Stimulus</th>
                            <th>Durée</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="sequenceList">

                        </tbody>
                    </table>
                </div>

            </div>
            <input type="hidden" name="jsonListOfSequences" id="jsonListOfSequences" value="@jsonSequences">
            <input type="hidden" name="jsonListOfCapteurs" id="jsonListOfCapteurs" value="@jsonCapteurs">
            <div class="form-group">
                <div class=" col-sm-10">
                    <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
                    <a href="/listeScenarios" class="btn btn-lg btn-danger">Annuler</a>
                </div>
            </div>
        </div>
    </form>

<!--==============================================  -->
<!--        Fenêtre modal ajout de séquences        -->
<!--==============================================  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter séquence</h4>
            </div>

            <div class="modal-body ">
                <div class="form-group">
                    <label for="seqStimuliType" class="col-sm-4 control-label">Type de stimuli</label>
                    <div class="col-sm-8">
                        <select name="stimuliType" id="seqStimuliType" class="form-control" onchange="disableStimuli()">
                            <option value="LIGHT"> Lumière </option>
                            <option value="NO_STIMUL"> Pas de stimulation </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seqStimuli" class="col-sm-4 control-label">Stimulis</label>
                    <div class="col-sm-8">
                        <select name="stimuliId" id="seqStimuli" class="form-control">
                            @for(stimuli <- stimulis) {
                            <option value="@stimuli._id"> @stimuli.getColor - Fréquence @stimuli.getFrequency Hz - Intensité @stimuli.getIntensity % </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seqDuration" class="col-sm-4 control-label">Durée en minutes</label>
                    <div class="col-sm-8">
                        <input type="number"
                               required
                               title="Durée"
                               id="seqDuration"
                               name="duration"
                               class="form-control input-medium"
                               placeholder="Durée de la séquence en minutes"
                               autofocus/>
                    </div>
                </div>


                <input type="hidden" name="orderIndex" value="@stimulis.size()"/>



            </div>
            <div class="modal-footer ">
                <div class="form-group col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="addSequenceBtn" class="btn btn-primary">Ajouter séquence</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================================  -->
<!--        Fin Fenêtre modal ajout de séquences        -->
<!--==============================================  -->


<!--==============================================  -->
<!--        Fenêtre modal modification de séquence        -->
<!--==============================================  -->
<div class="modal fade" id="myModalModif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTitle">Modifier séquence</h4>
            </div>

            <div class="modal-body ">
                <div id="type"></div>
                <div class="form-group">
                    <label for="seqStimuliTypeModif" class="col-sm-4 control-label">Type de stimuli</label>
                    <div class="col-sm-8">
                        <select name="stimuliType" id="seqStimuliTypeModif" class="form-control" onchange="disableStimuliModif()">
                            <option id="light" value="LIGHT" @selStimuliTypeLight> Lumière </option>
                            <option id="no_stimul" value="NO_STIMUL" @selStimuliTypeNo_Stimul> Pas de stimulation </option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="nbStimulis"/>
                <div class="form-group">
                    <label for="seqStimuliModif" class="col-sm-4 control-label">Stimulis</label>
                    <div class="col-sm-8">
                        <script>var option=1;</script>
                        <select name="stimuliId" id="seqStimuliModif" class="form-control">
                            @for(stimuli <- stimulis) {

                            <option id="option@option" value="@stimuli._id"> @stimuli.getColor - Fréquence @stimuli.getFrequency Hz - Intensité @stimuli.getIntensity % </option>
                            <SCRIPT>
                                //controleOptionSelected(option);

                                var listSequence = JSON.parse($('#jsonListOfSequences').val());
                                var id=$("#option"+option).val();
                                //alert("id = " + id);
                                option = option+1;
                                $("#nbStimulis").val(option);
                            </SCRIPT>
                            @{option = option+1}
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="seqDuration" class="col-sm-4 control-label">Durée en minutes</label>
                    <div class="col-sm-8">
                        <input type="number"
                               required
                               title="Durée"
                               id="seqDurationModif"
                               name="duration"
                               class="form-control input-medium"
                               placeholder="Durée de la séquence en minutes"
                               autofocus/>
                    </div>
                </div>

                <input type="hidden" name="orderIndex" value="@stimulis.size()"/>

            </div>
            <div class="modal-footer ">
                <div class="form-group col-sm-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="modifSequenceBtn" class="btn btn-primary">Enregistrer séquence</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================================  -->
<!--        Fin Fenêtre modal modification de séquences        -->
<!--==============================================  -->
<input type="hidden" id="modifSequenceI" value=""/>
<input type="hidden" id="modifSequenceList" value=""/>
<input type="hidden" id="modifSequenceStimuli" value=""/>
<input type="hidden" id="modifSequenceStimuliType" value=""/>
<input type="hidden" id="modifSequenceDuration" value=""/>
<input type="hidden" id="modifSequenceOrderIndex" value=""/>

}
<script>
    //au chargement de la page on entre le json dans le tableau
    $( document ).ready(function() {

            //remplissage des séquences

            var listSequence = JSON.parse($('#jsonListOfSequences').val());

           listSequence = JSON.parse($('#jsonListOfSequences').val());
           $('#description').val(listSequence.length + " séquence(s)");

            var html = "";
            for(var i = 0; i<listSequence.length; i++){
            console.log(listSequence[i]);
                if(listSequence[i]["description"]!=""){
                    var description = listSequence[i]["description"];
                 }
                 else {
                    var description = "Aucune stimulation";
                 }

                html+="<tr><td>"
                 + listSequence[i]["orderIndex"] + "</td>"
                 + "<td id='description+i' data-description='description+i'>" + description + "</td>"
                 + "<td>" + listSequence[i]["duration"] + "</td>"
                 + "<td onmousedown='confirmer(this.parentNode.rowIndex)'><button class='btn btn-danger'>Supprimer</button></td>"
                 + "<td onclick='modifSequence(this.parentNode.rowIndex)'><button type='button' class='btn btn-success' data-toggle='modal' data-target='#myModalModif'>Modifier</button></td></tr>";
                $('#sequenceList').html(html);
            }

        $('#description').val(listSequence.length + " séquence(s)");

        //remplissage des capteurs

        var listCapteurs = JSON.parse($('#jsonListOfCapteurs').val());

        for(var k = 0;k<document.getElementsByName("capteur").length;k++){
            for(var j = 0;j<listCapteurs.length;j++){
                if(document.getElementsByName("capteur")[k].id==listCapteurs[j]._id){
                    document.getElementsByName("capteur")[k].checked = true;
                    console.log(listCapteurs[j]._id);
                }
            }
        }
    });


    function modifSequence(index){
        var listSequence = JSON.parse($('#jsonListOfSequences').val());

        $("#modifSequenceList").val(listSequence[index-1]);
        $("#modifSequenceI").val(index-1);

        $("#modifSequenceStimuli").val(listSequence[index-1]["stimuli"]);

        $("#modifSequenceOrderIndex").val(listSequence[index-1]["orderIndex"]);

        console.log(listSequence);

        //pour les stimulis
        var nbStimulis = $("#nbStimulis").val();
        for(var i=1; i<=nbStimulis; i++){
            if($("#option"+i).val()== listSequence[index-1]["stimulus"]["_id"]){
                document.getElementById("option"+i).selected =  true;
            }
        }

        $("#modifSequenceDuration").val(listSequence[index-1]["duration"]);
        $("#seqDurationModif").val(listSequence[index-1]["duration"]);

        afficheSequences(listSequence);
    }


    function disableStimuli() {
        if($('#seqStimuliType').val()== "NO_STIMUL"){
            $('#seqStimuli').val("");
            $('#seqStimuli').prop("disabled", true);
        }
       else
           $('#seqStimuli').prop("disabled", false);
    };

    function disableStimuliModif() {
        if($('#seqStimuliTypeModif').val()== "NO_STIMUL"){
            $('#seqStimuliModif').val("");
            $('#seqStimuliModif').prop("disabled", true);
        }
       else
           $('#seqStimuliModif').prop("disabled", false);
    };

    //si clic sur Enregistrer scenarioSequence
    $('#modifSequenceBtn').click(function(){
        var listSequence = JSON.parse($('#jsonListOfSequences').val());
        var i = $('#modifSequenceI').val();

        console.log($('#seqStimuliModif option:selected').text());

        var description = $('#seqStimuliModif option:selected').text();
        if(description == ""){
            description = "Aucune stimulation";
        }
        var duration = $('#seqDurationModif').val();
        var stimuli = $('#seqStimuliModif').val();
        var orderIndex = $("#modifSequenceOrderIndex").val();

        //listSequence[i] = null;
        listSequence[i]["description"] = description;
        listSequence[i]["stimuli"] = stimuli;
        listSequence[i]["duration"] = duration;
        listSequence[i]["orderIndex"] = orderIndex;

        var html = "";
        for(var i = 0; i<listSequence.length; i++){
            //alert(listSequence[i]);
            html+="<tr><td>" + listSequence[i]["description"] + "</td><td>"
             + listSequence[i]["duration"] + "</td><td>"
             + listSequence[i]["orderIndex"] + "</td>"
             + "<td onmousedown='confirmer(this.parentNode.rowIndex)'><button class='btn btn-danger'>Supprimer</button></td>"
             + "<td onclick='modifSequence(this.parentNode.rowIndex)'><button type='button' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Modifier</button></td></tr>";
            $('#sequenceList').html(html);
        }

        afficheSequences(listSequence);
        $('#jsonListOfSequences').val(JSON.stringify(listSequence));

    });

    //si clic sur Ajouter séquences
    $('#addSequenceBtn').click(function(){
        var description = $('#seqStimuli option:selected').text();
        if(description == ""){
            description = "Aucune stimulation";
        }
        var duration = $('#seqDuration').val();
        var stimuli = $('#seqStimuli').val();
        var stimuliType = $('#seqStimuliType').val();

        if($('#jsonListOfSequences').val().length>0) {
            var listSequence = JSON.parse($('#jsonListOfSequences').val());
        }
        else {
            var listSequence = [];
        }
        var uneScenarioSequence = {
            "description" : description,
            "duration" : duration,
            "orderIndex" : listSequence.length+1
        };
        listSequence.push(uneScenarioSequence);
        $('#jsonListOfSequences').val(JSON.stringify(listSequence));

        listSequence = JSON.parse($('#jsonListOfSequences').val());
        $('#description').val(listSequence.length + " séquence(s)");
        afficheSequences(listSequence);
    });

    function confirmer(index){
        bootbox.setLocale("fr");
        bootbox.confirm("Confirmer la suppression?", function(result) {
        if(result){
            supprimerSequence(index);
         }
        });
    }

    function supprimerSequence(index) {
            var html="";
            document.getElementById('dataTable').deleteRow(index);
            //effacer de la liste json
            listSequence = JSON.parse($('#jsonListOfSequences').val());
            listSequence.splice(index-1, 1);
            $('#description').val(listSequence.length + " séquence(s)");
            for(var i = 0; i<listSequence.length; i++){
                listSequence[i]["orderIndex"] = i+1;
                html+="<tr><td>" + listSequence[i]["description"]+"</td><td>"
                 + listSequence[i]["duration"] + "</td><td>" + listSequence[i]["stimuliType"] + "</td><td>"
                 + listSequence[i]["orderIndex"] + "</td>"
                 + "<td onmousedown='confirmer(this.parentNode.rowIndex)'><button class='btn btn-danger'>Supprimer</button></td>"
                 + "<td><button type='button' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Modifier</button></td></tr>";


                $('#sequenceList').html(html);

            }
            afficheSequences(listSequence);

            $('#jsonListOfSequences').val(JSON.stringify(listSequence));
     }

     function afficheSequences(listSequence){
        var html = "";
        for(var i = 0; i<listSequence.length; i++){

            if(listSequence[i]["description"]!=""){
                    var description = listSequence[i]["description"];
                 }
                 else {
                    var description = "Aucune stimulation";
                 }

            //alert(listSequence[i]);
            html+="<tr>"
             + "<td>" + listSequence[i]["orderIndex"] + "</td>"
             +  "<td>" + description + "</td><td>"
             + listSequence[i]["duration"] + "</td>"

             + "<td onmousedown='confirmer(this.parentNode.rowIndex)'><button class='btn btn-danger'>Supprimer</button></td>"
             + "<td onclick='modifSequence(this.parentNode.rowIndex)'><button type='button' class='btn btn-success' data-toggle='modal' data-target='#myModalModif'>Modifier</button></td></tr>";
            $('#sequenceList').html(html);
        }
     }

</script>
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/date-uk.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dataTable/plugins/natural.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/hdgraph_dataTable.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.dataTables.css")">

