@(leStimuli:model.new_database.Stimulus)(lesStimuliTypes : List[model.StimuliType])
@main("HL Graph"){
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action="/modifyStimuli" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Modification d'un stimuli</legend>
                </div><!--div id="legend"-->

                <div class="col-md-3">

                    <div class="control-groupe">
                        <!-- Couleur -->
                            <label class="control-label" for="stimuliType">Couleur</label>
                            <select name="stimuliType" id="stimuliType" class="form-control">
                                @for(stimuliType <- lesStimuliTypes) {
                                    @if(stimuliType.getName() == leStimuli.getColor){
                                        <option value="@{stimuliType.getName();}" selected>@stimuliType.getName()</option>
                                    }else{
                                        <option value="@{stimuliType.getName();}">@stimuliType.getName() </option>
                                    }
                                }
                            </select>
                    </div><!--div clas
                    s="control-group"-->

                    <div class="control-group">
                        <!-- Intensité -->
                        <label class="control-label" for="intensity">Intensité</label>

                        <div class="controls">
                            <input required type="text" id="intensity" name="intensity"
                                   placeholder=""  min="0" max="100"
                                   class="form-control" value="@leStimuli.getIntensity">
                        </div><!--div class="controls"-->
                    </div><!--div class="control-group"-->

                    <div class="control-group">
                        <!-- Fréquence -->
                        <label class="control-label" for="frequency">Fréquence</label>

                        <div class="controls">
                            <input required type="text" id="frequency" name="frequency"
                                   placeholder=""
                                   class="form-control" value="@leStimuli.getFrequency">
                        </div><!--div class="controls"-->
                    </div><!--div class="control-group"-->

                    <br/>
                    <!-- Button Créer un compte -->
                    <div class="controls">
                        <div style="display:inline-block">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <input type="hidden" value="@leStimuli._id" name="_id" id="_id">
                        </div>
                        <div style="display:inline-block">
                            <a href="/listeStimulis" class="btn btn-danger" role="button">Annuler</a>
                        </div>
                    </div><!--div class="controls"-->
                </div>
            </fieldset>
        </form>
    </div>
</div>
}