@(modifyPatientForm: Form[model.new_database.Patient])(lePatient:model.new_database.Patient)
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well">
        <form role="form" class="form-horizontal" action="/modifyPatient" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Modification d'un patient</legend>
                </div>

                <div class="control-group">
                    <!-- NOM -->
                    <label class="control-label" for="lastname">Nom</label>

                    <div class="controls">
                        <input required type="text" id="lastName" name="lastname" placeholder=""
                               class="input-xlarge" value="@lePatient.getLastname">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Prénom -->
                    <label class="control-label" for="firstname">Prénom</label>

                    <div class="controls">
                        <input required type="text" id="firstname" name="firstname"
                               placeholder=""
                               class="input-xlarge" value="@lePatient.getFirstname">
                    </div>
                </div>

                <input type="hidden" value="@lePatient._id" name="_id" id="_id">

                <!-- Button Créer un compte -->
                <div class="control-group">
                    <div class="inline-form-opt">
                        <button type="submit" class="btn btn-primary">Modifier ce patient</button>
                    </div>
                    <div class="inline-form-opt">
                        <a href="/listePatients" class="btn btn-danger" role="button">Annuler</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}