@(modifyMotifForm: Form[model.TypeMotif])(leMotif: model.TypeMotif)(_id : String)
@main("HL Graph"){
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action=@routes.MotifController.saveMotif(leMotif._id) method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Modification d'un Motif</legend>
                </div><!--div id="legend"-->

                <div class="col-md-3">

                    <div class="control-groupe">

                        <!-- *******  MOTIF ID ******* -->
                        <label class="control-label" for="_id">Motif ID</label>
                        <div class="controls">
                            <input required type="text" id="_id" name="_id"
                                   class="form-control" value="@leMotif._id">
                        </div><!--div class="controls"-->
                    </div><!--div class="control-group"-->

                    <div class="control-group">
                        <!-- ******* TYPE DE MOTIF ******* -->
                        <label class="control-label" for="motifTyp">Type motif</label>

                        <div class="controls">
                            <input required type="text" id="motifTyp" name="motifTyp"
                                   class="form-control" value="@leMotif.getMotifTyp()">
                        </div><!--div class="controls"-->
                    </div><!--div class="control-group"-->

                    <br/>
                    <!-- ******* Button MODIFIER MOTIF ******* -->
                    <div class="controls">

                        <div style="display:inline-block">
                            <button type="submit" class="btn btn-primary">Valider</button>
                            <input type="hidden" value="@leMotif._id" name="_id" id="type_motif">
                        </div>

                        <div style="display:inline-block">
                            <a href="/listeMotifs" class="btn btn-danger" role="button">Annuler</a>
                        </div>

                    </div><!--div class="controls"-->
                </div>
            </fieldset>
        </form>
    </div>
</div>
}