@(modifyUserForm: Form[model.User])(leUser:model.User)
@main("HL Graph") {
<!--@if(flash.containsKey("error")) {-->
<!--<div class="alert alert-danger alertStyle">-->
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" style="position:float">&times;</a>-->
    <!--<strong>Erreur!</strong> @flash.get("error")-->
<!--</div>-->
<!--}-->
<!-- Conteneur Page HandiLight -->
<div class="container">
    <div class="well marginTop">
        <form role="form" class="form-horizontal" action="/modifyUser" method="post">
            <fieldset>
                <div class="legend">
                    <legend class="">Modification d'un compte utilisateur</legend>
                </div><!--div id="legend"-->
                <div class="col-md-3">
                    <div class="form-group">
                        <!-- NOM -->
                        <label class="control-label" for="login">Login</label>
                        <input required class="form-control" type="text" id="login" name="login" placeholder=""
                               value="@leUser.login" readonly>
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- NOM -->
                        <label class="control-label" for="userLastName">Nom</label>
                        <input required class="form-control" type="text" id="userLastName" name="userLastName" placeholder=""
                               value="@leUser.userName">
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- Prénom -->
                        <label class="control-label" for="userFirstname">Prénom</label>
                        <input required class="form-control" type="text" id="userFirstname" name="userFirstname"
                               placeholder="" value="@leUser.userFirstName">
                    </div><!--div class="form-group"-->

                    <div class="form-group">
                        <!-- Rôle(s) utilisateur -->
                        <label class="control-label" for="adminRole">Rôle(s)</label>
                        @if(leUser.roles.length==2){
                        <input type="checkbox" id="adminRole" name="rolesList[]" value="admin" checked>
                        <label class="control-label" for="adminRole">admin</label>
                        <input type="checkbox" id="userRole" name="rolesList[]" value="user" checked>
                        <label class="control-label" for="userRole">user</label>
                        }else {
                        @if(leUser.roles.length==1){
                        @if(leUser.roles(0).toString()=="admin"){
                        <input type="checkbox" id="adminRole" name="rolesList[]" value="admin"
                               checked>
                        }else{
                        <input type="checkbox" id="adminRole" name="rolesList[]" value="admin">
                        }
                        <label class="control-label" for="adminRole">admin</label>
                        @if(leUser.roles(0).toString()=="user"){
                        <input type="checkbox" id="userRole" name="rolesList[]" value="user"
                               checked>
                        }else{
                        <input type="checkbox" id="userRole" name="rolesList[]" value="user">
                        }
                        <label class="control-label" for="userRole">user</label>
                        }
                        }
                        @if(leUser.roles.length==0){
                        <input type="checkbox" id="adminRole" name="rolesList[]" value="admin">
                        <label class="control-label" for="adminRole">admin</label>
                        <input type="checkbox" id="userRole" name="rolesList[]"
                               value="user">
                        <label class="control-label" for="userRole">user</label>
                        }
                    </div><!--div class="form-group"-->
                    <!--<div class="form-group">-->
                        <!--&lt;!&ndash; confirm mdp &ndash;&gt;-->
                        <!--<label class="control-label" for="userOldPassword">ancien mot de passe</label>-->
                        <!--<input class="form-control" type="password" id="userOldPassword" name="userOldPassword"-->
                               <!--required>-->
                    <!--</div>&lt;!&ndash;div class="form-group"&ndash;&gt;-->
                    <div class="form-group">
                        <!-- confirm mdp -->
                        <label class="control-label" for="userPassword">nouveau mot de passe</label>
                        <input class="form-control" type="password" id="userPassword" name="userPassword" minlength="8"
                        oninput="checkPassword()">
                    </div><!--div class="form-group"-->
                    <div class="form-group">
                        <label class="control-label" for="confirmUserPassword">confirmation du nouveau mot de passe</label>
                        <input class="form-control"
                               type="password"
                               name="confirmUserPassword"
                               id="confirmUserPassword"
                               style="opacity: 0.8;"
                               oninput="checkPassword()">
                    </div><!--div class="form-group"-->

                    <br/>
                    <!-- Button Modifier un compte -->
                    <div class="form-group">
                        <div style="display:inline-block">
                            <button type="submit" class="btn btn-primary" id="modifier">Modifier ce compte
                            </button>
                            <input type="hidden" value="@leUser._id" name="_id" id="_id">
                        </div>
                        <div style="display:inline-block">
                            <a href="/gestionCompte" class="btn btn-danger" role="button">Annuler</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
<script>
function checkPassword(){
if( $('#confirmUserPassword').val()=="" && $('#userPassword').val()==""){
        console.log('pswd null');
        $('#modifier').attr('class', 'btn btn-success');
        $('#modifier').attr('disabled', null);
        $('#confirmUserPassword').attr("class","form-control label-success");
      }
      else if( $('#confirmUserPassword').val() == $('#userPassword').val().substring(0,$('#confirmUserPassword').val().length) && $('#confirmUserPassword').val().length != $('#userPassword').val().length ){
        console.log('partial match');
        $('#confirmUserPassword').attr("class","form-control label-warning");
        $('#modifier').attr('disabled', 'disabled');
      }
      else if( $('#confirmUserPassword').val()==$('#userPassword').val() ){
        console.log(' match');
        $('#confirmUserPassword').attr("class","form-control label-success");
        $('#modifier').attr('disabled', null);
        $('#modifier').attr('class', 'btn btn-success');
      }
      else{
        console.log('unmatch');
        $('#confirmUserPassword').attr("class","form-control label-danger");
        $('#modifier').attr('disabled', 'disabled');
      }
}
</script>