@(lePatient:model.new_database.Patient)(scenarios:List[model.ScenarioMongo])(seanceNumber: Int)(date_start: String)(time_start: String)(scenarioMongoId: String)
@import java.lang.String;  var sel = "";
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}

<div class="well marginTop">
    <form role="form"  action="/saveSeance" method="post">
        <fieldset class="form-group">
            <div class="legend">
                <legend class="">Modification de séance</legend>
            </div>

            <input type="hidden" name="seanceNumber" value="@seanceNumber"/>
            <input type="hidden" name="_id" value="@lePatient._id"/>

            <div class="form-group col-md-10">
                <!-- Date  -->
                <div class="col-md-3">
                    <label class="form-control-label" for="date_start">Date de la séance</label>
                </div>
                <div class='input-group date col-md-3' id='datetimepicker'>
                    <input required type='text' class="form-control" name="date_start" id="date_start" value="@date_start" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class='form-group col-sm-10'>
                <!-- Heure  -->
                <div class="col-md-3">
                    <label class="form-control-label" for="time_start">Heure de la séance</label>
                </div>
                <div class='input-group date col-md-3' id='datetimepicker_heure'>
                    <input type='text' class="form-control" name="time_start" id="time_start" value="@time_start"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-10">
                <div class="col-md-3">
                    <label for="scenario" class="form-control-label">Choix du scénario</label>
                </div>
                <div class="col-md-3">
                    <select name="scenarioMongoId" id="scenario" class="form-control">
                        @for(scenario <- scenarios) {
                            @if(scenarioMongoId==scenario._id){
                               @{sel="selected"}
                            }else{
                                @{sel=""}
                            }
                            <option value="@scenario._id" @sel> @scenario.title </option>
                        }
                    </select>
                </div>
            </div>

            <br/>
            <!-- Button Créer un patient -->
            <div class="controls col-md-10 col-md-offset-2">
                <div style="display:inline-block">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Enregistrer</button>
                </div>
                <div style="display:inline-block">
                    <a href="@routes.SeanceController.listeSeancesPatient(lePatient._id)" class="btn btn-danger" role="button">Annuler</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../public/stylesheets/datepicker/bootstrap-datetimepicker.css")">
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/moment.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("../../public/javascripts/datepicker/bootstrap-datetimepicker.js")"></script>
<script type="text/javascript">
$(function () {
     $('#datetimepicker').datetimepicker({
     format: 'DD-MM-YYYY',
     //minDate: new Date()
    });
});

 $(function () {
    $('#datetimepicker_heure').datetimepicker({
        format: 'HH:mm',
        //pickDate: false,
        //pickSeconds: false,
        //pick12HourFormat: false
    });
});

$('#btnSubmit').click(function(){
    //alert("seanceNumber = " + $('#seanceNumber').val()+10);
});


</script>


}