@(modifyMedecinForm: Form[model.new_database.Doctor])(leDoctor:model.new_database.Doctor)
@main("HL Graph") {
@if(flash.containsKey("error")) {
<div class="alert alert-danger alertStyle">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur!</strong> @flash.get("error")
</div>
}

<script>
	$(document).ready(function(){
		$('#rpps').focus();

		$(function(){
			$("form").on("submit", function() {

                if($("#rpps").val().length < 11 || $("#rpps").val().length > 11) {
                    $("div.form-group.rpps").addClass("has-error");
                    $("div.alert_rpps").show("slow").delay(6000).hide("slow");
                    return false;
                }

                else {
                        $("div.form-group.rpps").addClass("has-success");
                }
            });
		});

		$(function(){
			$("form").on("submit", function() {
                var test = 1;
                for(i=0;i<$("#rpps").val().length;i++) {
                    if($("#rpps").val().charAt(i) < "0" || $("#rpps").val().charAt(i) > "9"){
                        test = -1
                    }
                }
                if(test == -1){
                    $("div.form-group.rpps").addClass("has-error");
                    $("div.alert_rpps").show("slow").delay(6000).hide("slow");

                    return false;
                }
            });
		});

		$(function(){
			$("form").on("submit", function() {
				if($("#siret").val().length < 14 || $("#siret").val().length > 14) {
					$("div.form-group.siret").addClass("has-error");
					$("div.alert_siret").show("slow").delay(6000).hide("slow");
					return false;
				}
				else {
					$("div.form-group.siret").addClass("has-success");
				}
		  });
		});
	});//fin doc ready
</script>

<div id="myTabContent" class="tab-content">
    <div class="legend">
        <legend class="">Modifier les informations d'un médecin</legend>
    </div>
    <form role="form" class="form-horizontal" action="/medecinSave" method="post">
        <div class="form-group col-sm-12 rpps">
            <label for="rpps" class="col-sm-4 control-label">N° RPPS</label>
            <div class="col-sm-5">
                <input type="text"
                       required
                       maxlength="11"

                       title="Le numéro RPPS est obligatoire et composé de 11 chiffres"
                       id="rpps"
                       name="rpps"
                       class="form-control input-medium"
                       value="@leDoctor.getRpps()"
                       placeholder="Numéro du « Répertoire Partagé des Professionnels de Santé »"
                       autofocus>
            </div>
        </div>
        <div class="alert alert-block alert-danger alert_rpps col-sm-5 col-sm-offset-4" style="display:none">
            <h4>Erreur !</h4>
            Le numéro RPPS doit contenir11 chiffres !
        </div>
        <!-- ============================================================================================================== -->
        <!-- ============================================================================================================== -->


        <div class="form-group col-sm-12">
            <label for="siret" class="col-sm-4 control-label">N° Siret</label>
            <div class="col-sm-5">
                <input type="text"
                       maxlength="14"
                       title="14 caractères alphanumériques"
                       class="form-control input-medium"
                       id="siret"
                       name="siret"
                       value="@leDoctor.getSiret()"
                       placeholder="Numéro de siret">
            </div>
        </div>
        <div class="alert alert-block alert-danger alert_siret col-sm-5 col-sm-offset-4" style="display:none">
            <h4>Erreur !</h4>
            Le code SIRET doit contenir 14 caractères alphanumériques !
        </div>
        <!-- ============================================================================================================== -->
        <!-- ============================================================================================================== -->


        <div class="form-group">
            <label for="lastname" class="col-sm-4 control-label">Nom</label>
            <div class="col-sm-5">
                <input type="text"
                       maxlength="30"
                       required
                       class="form-control input-medium"
                       id="lastname"
                       name="lastname"
                       value="@leDoctor.getLastname()"
                       placeholder="Nom">
            </div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-sm-4 control-label">Prénom</label>
            <div class="col-sm-5">
                <input required
                       type="text"
                       maxlength="30"
                       class="form-control input-medium"
                       id="firstname"
                       name="firstname"
                       value="@leDoctor.getFirstname()"
                       placeholder="Prénom">
            </div>
        </div>

        <div class="form-group">
            <label for="speciality" class="col-sm-4 control-label">Discipline</label>
            <div class="col-sm-5">
                <input required
                       type="text"
                       maxlength="50"
                       class="form-control input-medium"
                       id="speciality"
                       name="speciality"
                       value="@leDoctor.getSpeciality()"
                       placeholder="Profession exercée">
            </div>
        </div>

        <div class="form-group">
            <label for="telNumber" class="col-sm-4 control-label">Téléphone</label>
            <div class="col-sm-5">
                <input required
                       type="tel"
                       maxlength="20"
                       class="form-control input-medium"
                       id="telNumber"
                       name="telNumber"
                       value="@leDoctor.getTelNumber()"
                       placeholder="Téléphone"
                       title="Veuillez saisir un numéro de téléphone">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Courriel</label>
            <div class="col-sm-5">
                <input required
                       type="email"
                       maxlength="50"
                       class="form-control input-medium"
                       id="email"
                       name="email"
                       value="@leDoctor.getEmail()"
                       placeholder="Courriel">
            </div>
        </div>

        <div class="controls" style="text-align:center">
            <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
            <input type="hidden" value="@leDoctor._id" name="_id" id="_id">

            <div style="display:inline-block">
                <a href="/listeMedecins" class="btn btn-danger" role="button">Annuler</a>
            </div>
        </div>
    </form>
</div>
}