@import java.util
@(dataset : String)(lePatient: model.new_database.Patient)(indexSeance : Int)(lesSequences : String)
@import model.SeanceMongo; var laSeance = lePatient.getLesSeances.get(indexSeance);

@motifTime(time : Long) = @{
    import java.util.Date
    import java.text.SimpleDateFormat
    val myFormat = new SimpleDateFormat("dd/MM/yyyy HH:mm")
    val date = new Date(time)
    myFormat.format(date)
}

@main("HL Graph") {
<input hidden id="dataset" value="@dataset">
<input hidden id="sequences" value="@lesSequences">
<input hidden id="patient" value="@lePatient._id">
<input hidden id="seance_start_time" value ="@laSeance.time_start">
<input hidden id="seance_date_start" value ="@laSeance.date_start">
<div class="row" class="restitution-panel">
  <div class="container-fluid">
    <div class="row" id="filter-row">
      <div class="col-md-4">
          <!-- Timepicker -->
        <div class="col-md-12 form-inline" role ="group">
          <button id="btn-ajax3" class="btn btn-info glyphicon glyphicon-step-backward" style="top:0px">
            <a href="#"> </a>
          </button>
          <input id="start-timestamp"  type="text" class="form-control" name="name" value="" placeholder="Start" style="width:100px" data-timepicker disabled="disabled">
          <input id="stop-timestamp" type="text"  class="form-control" name="name" value="" placeholder="Stop"  style="width:100px" data-timepicker disabled="disabled">
          <button id="btn-ajax2" class="btn btn-info glyphicon glyphicon-step-forward" style="top:0px">
            <a href="#"> </a>
          </button>
        </div>
        <div class="col-md-12 form-inline">
          <select class="form-control" id="choise-sig" name="id_sig" required>
            <option value="0">EEG Fp1-A1[uV]</option>
            <option value="2">EEG C3-A1[uV]</option>
            <option value="3">EEG O1-A1[uV]</option>
            <option value="4">EEG T3-A1[uV]</option>
            <option value="5">EEG Fp2-A1[uV]</option>
            <option value="6">EEG C4-A1[uV]</option>
            <option value="7">EEG O2-A1[uV]</option>
            <option value="8">EEG T4-A1[uV]</option>
          </select>
          <button id="btn-ok" class="btn btn-danger" disabled="disabled" > OK  </button>
        </div>
      </div>
      <!-- zoom X/Y/X && Y -->
      <div class=" col-md-4">
        <div class="col-md-12">
          <div class="input-group hidden">
            <span class="input-group-addon" >
              <img src="@routes.Assets.versioned("images/axis_16.png")" />
            </span>
            <select id="tools-axe" class="form-control"  onchange="toolsVisibility();">
              <option value="1">x</option>
              <option value="2">y</option>
              <option value="3">x et y</option>
            </select>
            <span class="input-group-addon">
              <img src="@routes.Assets.versioned("images/line_16.png")" />
            </span>
            <select id="tools-line" class="form-control">
              <option value="0">Toutes</option>
            </select>
          </div>
        </div>
        <!-- min max btn-->
        <div class="col-md-12">
          <div class="form-inline">
            <input type="number" style="width: 138px" id="min-timestamp" class="form-control" placeholder="min (ms)">
            <input type="number" style="width: 138px" id="max-timestamp" class="form-control"  placeholder="max (ms)">
            <button id="btn-ajax" class="btn btn-default glyphicon glyphicon-refresh" disabled="disabled">
              <a href="#"> </a>
            </button>
          </div>
        </div>
      </div>
      <!-- debut intevalle btn  -->
      <div class="col-md-4">
        <form id="monForm" method="post" action="/restitution/save" >

          <input class="form-control btn btn-success" type="button" value="Interval"  id="interval">
          <input type="text"  class="form-control" disabled="disabled" id="interval-text" name="interval" required>
          <input type="text" class="hide" id="x_debut" name="x_debut" required>
          <input type="text" class="hide" id="x_fin" name="x_fin" required>
          <input type="text" class="hide" name="patientId" id="patientId" value="@lePatient._id">
          <input type="text" class="hide" name="sceanceId" id="sceanceId" value="@laSeance.numeroUniqueDeSeance">

          <div id="spindle-complexeK" style="display: none">
            <select class="form-control" id="id_choix_motif" name="id_choix_motif" required>
              <option value="Spindle">Spindle</option>
              <option value="ComplexeK">Complexe K</option>
            </select>
            <select class="form-control hidden" id="id_choix_signaux" name="id_choix_signaux" required/>
            <div  class="btn-group" data-toggle="buttons">
              <label>
                <input type="submit" id="submit" value="Valider !" class="btn btn-success col-md-6 col-lg-6 col-xs-12 col-sm-6" />
              </label>
              <label class="btn btn-warning col-md-6 col-lg-6 col-xs-12 col-sm-6" id="unselect">
                <span> Déselectionner </span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <!-- pour le fonctionnement du graph -->
      <div id="toolbar-chart container" class="btn-toolbar" style="margin-top:30px;">
        <div class="col-md-12">
          <div class="input-group" style="margin-left: 20px">
            <input type="number" id="shift" hidden value="0">
          </div>
        </div>
      </div>
      <!-- chart -->
      <div class="row" id="chart-row">
        <h3 id="title-chart" class="col-md-12">
          @lePatient.getFirstname @lePatient.getLastname - séance n°@laSeance.seanceNumber du @lePatient.getLesSeances.get(indexSeance).date_start à @lePatient.getLesSeances.get(indexSeance).time_start
        </h3>
        <div id="chart-legends" class="col-md-12" style="visibility: hidden"></div>
        <div id="chart" class="col-md-10 col-md-offset-1" style="margin-bottom: -230px;"> </div>
      </div>
    </div>
  </div>

  <div class="row" class="restitution-panel">
    <h3 id="title-info">
      Liste des sélections (MongoDB)
    </h3>
    <div class="row-fluid" >

      <table class="table-striped table-bordered table-condensed" style="width: 100%; margin-bottom: 50px">
        <thead>
            <th>Type</th>
            <th>Détecteur</th>
            <th>Début (ms)</th>
            <th>Fin (ms)</th>
            <th>Opérateur</th>
            <th>Mise à jour</th>
            <th>Actions</th>
            <th class="modifMotifForm"  motifId="-1">Nouvelles valeurs</th>
        </thead>
        <tbody id="visuListMotif">
        @for(unMotifData <- laSeance.lesMotifs){
        <tr id="@unMotifData.numeroUniqueMotif">
          <td>@unMotifData.motifName</td>
          <td class="IdCaptor"><span class="hide">@unMotifData.captorId</span><span class="show">@unMotifData.numeroUniqueMotif</span></td>
          <td>@unMotifData.xDebut</td>
          <td>@unMotifData.xFin</td>
          <td>@unMotifData.userLogin</td>
          <td>@motifTime(unMotifData.lastUpdate)</td>
          <td>
            <span class="btn-group"  data-toggle="buttons">
              <form class="deleteMotifForm btn btn-link" method="POST" action="/restitution/deleteMotif">
                <div class="has-feedback">
                  <input hidden type="text" name="patientId" value="@lePatient._id">
                  <input hidden type="text" name="sceanceId" value="@laSeance.numeroUniqueDeSeance">
                  <input hidden type="text" name="motifId"   value="@unMotifData.numeroUniqueMotif" required>
                  <input hidden type="text" name="x_debut"   value="@unMotifData.xDebut" required>
                  <input hidden type="text" name="x_fin"     value="@unMotifData.xFin" required>
                  <input type="submit" value='' class=" btn btn-link"/>
                    <i class="form-control-feedback glyphicon glyphicon-trash" style="color:red"></i>
                </div>
              </form>
              <form class="btn btn-link">
                <div class="has-feedback">
                  <input hidden type="text" name="motifNb">
                  <input type="submit" value='' class="btn btn-link askModifMotif" attr="@unMotifData.motifNumber"/>
                    <i class="form-control-feedback glyphicon glyphicon-edit" style="color:orange"></i>
                </div>
              </form>
            </span>
          </td>
          <td>
            <form class="modifMotifForm" motifId="@unMotifData.motifNumber" method="POST" action="/restitution/modifMotif">

              <input hidden type="text" name="patientId" value="@lePatient._id">
              <input hidden type="text" name="sceanceId" value="@laSeance.numeroUniqueDeSeance">
              <input hidden type="text" name="motifId"   value="@unMotifData.numeroUniqueMotif" required>
              <input hidden type="text" name="x_debut"   value="@unMotifData.xDebut" required>
              <input hidden type="text" name="x_fin"     value="@unMotifData.xFin" required>

              <select name="id_choix_motif" required  class="form-control">
                <option value="@unMotifData.motifName">@unMotifData.motifName</option>
                <option value="Spindle">Spindle</option>
                <option value="ComplexeK">Complexe K</option>
              </select>
              <select name="id_choix_signaux" required class="id_choix_signaux form-control">
              </select>
              <input type="submit" class="btn btn-warning col-lg-12 col-md-12 col-sm-12 col-xs-12" value='Valider' />
            </form>
          </td>
        </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/chart.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/media-queries-samples.css")">
<script src="@routes.Assets.versioned("javascripts/d3.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/restitution_init.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/restitution_functions.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/restitutionUnique.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/saisieGraph.js")" type="text/javascript"></script>

<script>
  var loc = window.location.pathname.split("/");
  var captorId = loc[loc.length-1];

  $(function() {
    $("#choise-sig option[value='"+captorId+"']").attr('selected', true);
    $("#choise-sig").change(function (elem) {
      var url = window.location.origin + "/restitutionSingle/0/25595/@laSeance.numeroUniqueDeSeance/@lePatient._id/" + elem.target.value
      window.location = url;
    })
  })
</script>




  <!-- Boite modales d'attente lors d'une MAJ du graphique via requête ajax -->
  <div class="modal">Please wait ...</div>
}<!-- FIN template -->

