@(dataset : String)(analyzedData : model.AnalyzedData)(lePatient: model.new_database.Patient)(indexSeance : Int)(leScenario: model.ScenarioMongo)(lesSequences : String)
@import model.SeanceMongo; var laSeance = lePatient.getLesSeances.get(indexSeance)
@main("HL Graph") {
  <input hidden id="dataset" value="@dataset">
  <input hidden id="sequences" value="@lesSequences">
  <input hidden id="patient" value="@lePatient._id">
  <input hidden id="seance_start_time" value ="@laSeance.time_start">
  <input hidden id="seance_date_start" value ="@laSeance.date_start">
  <div id="global-container" class="col-md-12">
    <div id="container-chart" class="col-md-12">
      <h3 id="title-chart">
        @lePatient.getFirstname() @lePatient.getLastname() - séance n°@laSeance.seanceNumber du @lePatient.getLesSeances().get(indexSeance).date_start à @lePatient.getLesSeances().get(indexSeance).time_start
      </h3>
      <div id="chart-legends"></div>
      <div id="chart" style="padding-top:20px;"></div>


      <div id="toolbar-chart container" class="btn-toolbar" style="margin-top:30px;">
        <div class="col-md-12">
          <div class="input-group" style="margin-left: 20px">
            <input type="number" id="min-timestamp" class="form-control" placeholder="min (ms)" style="width:100px">
            <input type="number" id="max-timestamp" class="form-control"  placeholder="max (ms)" style="width:100px">
            <div class="btn-group" role="group">
              <button id="btn-ajax" class="btn btn-default glyphicon glyphicon-refresh" style="top:0px" disabled="disabled">
                <a href="#"> </a>
              </button>
              <button id="btn-ajax3" class="btn btn-info glyphicon glyphicon-step-backward" style="top:0px">
                <a href="#"> </a>
              </button>
              <button id="btn-ajax2" class="btn btn-info glyphicon glyphicon-step-forward" style="top:0px">
                <a href="#"> </a>
              </button>
            </div>
            <span class="input-group-addon glyphicon glyphicon-resize-vertical" style="width:auto;"></span>
            <input type="number" id="shift" class="form-control" value="-1" min="0" max="1000" style="width:5em;">
            <input type="number" id="shiftMemo" hidden value="0">
          </div>
        <div class="input-group" style="margin-left: 0px">
          <span class="input-group-addon" style="width:auto;" >
            <img src="@routes.Assets.versioned("images/axis_16.png")" />
          </span>
          <select id="tools-axe" class="form-control"  onchange="toolsVisibility();">
            <option value="1">x</option>
            <option value="2">y</option>
            <option value="3">x et y</option>
          </select>
          <span class="input-group-addon" style="width:auto;">
            <img src="@routes.Assets.versioned("images/line_16.png")" />
          </span>
          <select id="tools-line" class="form-control">
            <option value="0">Toutes</option>
          </select>
          <span class="input-group-addon" style="width:auto;">
            <img src="@routes.Assets.versioned("images/interpolation_16.png")" />
          </span>
          <select id="tools-interpolate" class="form-control" onchange="getInterpolation()">
            <option value="3">linear</option>
            <option value="1">monotone</option>
            <option value="2">basis</option>
            <option value="4">step-before</option>
          </select>

        </div> <!-- FIN input-group -->


        <button id="btn-refresh-y-axis" class="btn btn-default glyphicon glyphicon-fullscreen" style="top:0px;margin-left: 20px"></button>
        </div>
      </div><!-- FIN btn-toolbar -->

      <div >
          <form id="monForm" method="post" action="/restitution/save">

            <div style=" margin-top: 20px" class="col-lg-3 col-md-5 col-sm-8">
              <input class="form-control btn btn-success" type="button" value="Interval"  id="interval">
              <input type="text"  class="form-control" disabled="disabled" id="interval-text" name="interval" required>
              <input type="text" class="hide" id="x_debut" name="x_debut" required>
              <input type="text" class="hide" id="x_fin" name="x_fin" required>
              <input type="text" class="hide" name="patientId" id="patientId" value="@lePatient._id">
              <input type="text" class="hide" name="sceanceId" id="sceanceId" value="@laSeance.numeroUniqueDeSeance">

              <div id="spindle-complexeK" style="display: none">
                <select class="form-control" id="id_choix_motif" name="id_choix_motif" required>
                  <option value="Spindle">Spindle</option>
                  <option value="ComplexeK">Complexe K</option>
                </select>
                <select class="form-control" id="id_choix_signaux" name="id_choix_signaux" required/>
                <div  class="btn-group" data-toggle="buttons">
                  <label>
                    <input type="submit" id="submit" value="Valider !" class="btn btn-success col-md-6 col-lg-6 col-xs-12 col-sm-6" />
                  </label>
                  <label class="btn btn-warning col-md-6 col-lg-6 col-xs-12 col-sm-6" id="unselect">
                    <span> Désectionner </span>
                  </label>
                </div>
            </div>
          </form>
        </div>
    </div>
    </div><!-- FIN container-chart -->

    <div id="container-info" class="col-md-12">
      <h3 id="title-info">
        Liste des sélections (MongoDB)
      </h3>
      <div class="row-fluid" >

          <table class="table-striped table-bordered table-condensed" style="margin:0em 0em 2em 0em">
            <thead>
            <th>Type</th>
            <th>Détecteur</th>
            <th>Début (ms)</th>
            <th>Fin (ms)</th>
            <th>Opérateur</th>
            <th>Actions</th>
            <th class="modifMotifForm"  motifId="-1">Nouvelles valeurs</th>

            </thead>
            <tbody id="visuListMotif">
            @for(unMotifData <- laSeance.lesMotifs){
              <tr>
                <td>@unMotifData.motifName</td>
                <td class="IdCaptor"><span class="hide">@unMotifData.captorId</span><span class="show"></span></td>
                <td>@unMotifData.xDebut</td>
                <td>@unMotifData.xFin</td>
                <td>@unMotifData.userLogin</td>
                <td>
                  <span class="btn-group"  data-toggle="buttons">
                    <form class="deleteMotifForm btn btn-link" method="POST" action="/restitution/deleteMotif">
                      <div class="has-feedback">
                        <input hidden type="text" name="patientId" value="@lePatient._id">
                        <input hidden type="text" name="sceanceId" value="@laSeance.numeroUniqueDeSeance">
                        <input hidden type="text" name="motifId"   value="@unMotifData.numeroUniqueMotif" required>
                        <input hidden type="text" name="x_debut"   value="@unMotifData.xDebut" required>
                        <input hidden type="text" name="x_fin"     value="@unMotifData.xFin" required>
                        <input type="submit" value='' class=" btn btn-link"/>
                          <i class="form-control-feedback glyphicon glyphicon-trash" style="color:red"></i>
                      </div>
                    </form>
                    <form class="btn btn-link">
                      <div class="has-feedback">
                        <input hidden type="text" name="motifNb">
                        <input type="submit" value='' class="btn btn-link askModifMotif" attr="@unMotifData.motifNumber"/>
                          <i class="form-control-feedback glyphicon glyphicon-edit" style="color:orange"></i>
                      </div>
                    </form>


                  </span>
                </td>
                <td>
                  <form class="modifMotifForm" motifId="@unMotifData.motifNumber" method="POST" action="/restitution/modifMotif">

                    <input hidden type="text" name="patientId" value="@lePatient._id">
                    <input hidden type="text" name="sceanceId" value="@laSeance.numeroUniqueDeSeance">
                    <input hidden type="text" name="motifId"   value="@unMotifData.numeroUniqueMotif" required>
                    <input hidden type="text" name="x_debut"   value="@unMotifData.xDebut" required>
                    <input hidden type="text" name="x_fin"     value="@unMotifData.xFin" required>

                    <select name="id_choix_motif" required  class="form-control">
                      <option value="@unMotifData.motifName">@unMotifData.motifName</option>
                      <option value="Spindle">Spindle</option>
                      <option value="ComplexeK">Complexe K</option>
                    </select>
                    <select name="id_choix_signaux" required class="id_choix_signaux form-control">
                    </select>

                    <input type="submit" class="btn btn-warning col-lg-12 col-md-12 col-sm-12 col-xs-12" value='Valider' />

                  </form>
                </td>
              </tr>
            }
            </tbody>
          </table>
      </div>
    </div>


    <div id="container-info" class="col-md-12">
      <h3 id="title-info">
        Détails
      </h3>
      <div class="row">
        <div class="col-md-4">
        <table class="table table-striped table-condensed " >
        <tbody>
          <tr>
            <th class="th-chart-style" colspan="2">Patient</th>
          </tr>
          <tr>
            <td>Nom</td>
            <td>@lePatient.getLastname()</td>
          </tr>
          <tr>
            <td>Pr&eacute;lastname</td>
            <td>@lePatient.getFirstname()</td>
          </tr>
          <tr>
            <td>Date de naissance</td>
            <td>@lePatient.getBirthday()</td>
          </tr>
          </tbody>
        </table>
          </div>
        <div class="col-md-4">
      <table class="table table-striped table-condensed " >
        <tbody>
          <tr>
            <th class="th-chart-style" colspan="2">Séance n°@lePatient.getLesSeances().get(indexSeance).seanceNumber</th>
          </tr>
          <tr>
            <td>Date</td>
            <td colspan="2">Le @lePatient.getLesSeances().get(indexSeance).date_start à @lePatient.getLesSeances().get(indexSeance).time_start</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              @if(lePatient.getLesSeances().get(indexSeance).status == "INTERRUPTED"){
                Interrompue
              }else{ @if(lePatient.getLesSeances().get(indexSeance).status == "NOT_STARTED"){
                  Pas commencée
              }else{
                Terminée
              }}
            </td>
          </tr>
          <tr>
            <th class="th-chart-style" colspan="2">Scénario</th>
          </tr>
          <tr>
            <td>Titre</td>
            <td>@leScenario.title</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>@leScenario.description</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>
              @if(leScenario.typeScenario == "LINEAR"){
              Linéaire
              }
            </td>
          </tr>
        </tbody>
        </table>
          </div>
        <div class="col-md-4">
      <table class="table table-striped table-condensed " >
        <tbody>
          <tr>
            <th class="th-chart-style" colspan="2">Capteurs actifs</th>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                @if(leScenario.eeg == 1){
                  <li>EEG</li>
                }
                @if(leScenario.eyelid == 1){
                  <li>Clignements Yeux</li>
                }
                @if(leScenario.headMovement == 1){
                  <li>Mouvements de la tête</li>
                }
                @if(leScenario.pulse == 1){
                  <li>Fréquence cardiaque</li>
                }
                @if(leScenario.skinConductance == 1){
                  <li>Conductance de la peau</li>
                }
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>

    </div><!-- FIN container-info -->


  <div id="container-meteo" class="col-md-12 container-interpretation">
      <h3 id="title-meteo" >
        <span class="glyphicon glyphicon-globe" style="color:#49A9C9"></span>
        Météo de la semaine Précédant la séance
      </h3>
    <table class="table-striped table-bordered col-md-12">
      <thead>
        <th>Date</th>
        <th>Résumé</th>
        <th>Visibilité</th>
        <th>Couverture nuageuse</th>
        <th>Température (°C)</th>
      </thead>
        <tbody>
          @for(uneDailyData <- laSeance.meteoData.data){
          <tr>
            <td>@("Le %1$td-%1$tm-%1$tY à %1$tH:%1$tM".format(uneDailyData.time * 1000))</td>
            <td class="resume"><span hidden unit="EN">@uneDailyData.summary</span><span unit="FR"></span></td>
            <td>@uneDailyData.visibility</td>
            <td>@uneDailyData.cloudCover</td>
            <td class="temperature"><span hidden unit="F">@uneDailyData.temperature</span><span unit="C"></span></td>
          </tr>
          }
        </tbody>
    </table>
  </div>
<div id="container-interpretation" class="col-md-12 container-interpretation">
    <h3 id="title-interpretation">
      Interprétation des données
    </h3>
  @if( analyzedData == null){

  <div id="analyse">
    <a href="@routes.Application.analyseDesDonnees(lePatient._id, laSeance.numeroUniqueDeSeance, 1)" id="btn-analyse" class="btn btn-primary">Analyse des données</a>
    <button class="btn btn-lg btn-warning" id="analyseEnCours" style="display: none"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Analyse en cours...</button>
    <!-- <div id="analyseEnCours" style="display: none"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Analyse en cours...</div> -->
  </div>
  }else{
  <div id="analyzed-data">
    <table class="table-stripped col-md-12">
      <thead>
        <th>Début séquence</th>
        <th>% alpha</th>
        <th>% beta</th>
        <th>% delta</th>
        <th>% theta</th>
      </thead>
      <tbody>
      @for(uneScenarioSequence <- analyzedData.lesSequences){
        <tr>
          <td>@uneScenarioSequence.tsd30s</td>
          <td>@uneScenarioSequence.resultat.propalpha</td>
          <td>@uneScenarioSequence.resultat.propbeta</td>
          <td>@uneScenarioSequence.resultat.propdelta</td>
          <td>@uneScenarioSequence.resultat.proptheta</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  }

</div>
<div>

</div>

  <!-- DEBUG -->
  <!--<pre><code id=debug1></code></pre>-->
  <!--<pre><code id=debug2></code></pre>-->
  <!--<pre><code id=debug3></code></pre>-->
  <!--<pre><code id=debug4></code></pre>-->
  <!--<pre><code id=debug5></code></pre>-->

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/chart.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/media-queries-samples.css")">
  <script src="@routes.Assets.versioned("javascripts/d3.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/restitution_init.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/restitution_functions.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/restitution.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/saisieGraph.js")" type="text/javascript"></script>

<script>
  $("#btn-analyse").on("click", function(){
    $("#btn-analyse").hide();
    $("#analyseEnCours").show();

   });


</script>

  <!-- Boite modales d'attente lors d'une MAJ du graphique via requête ajax -->
  <div class="modal">Please wait ...</div>
}<!-- FIN template -->

