@(message: String)

@main("HL Graph") {

<!-- Conteneur Page HandiLight -->
<div class="container">
    <h2>Paramètrage scénario</h2>
    <div class="btn-group" role="group" aria-label="...">
        <a href="scenario" class="btn btn-info" role="button">Paramètre actuel</a>
        <a href="scenarioCapteur"  class="btn btn-default">Capteurs</a>
        <a href="scenarioSequence" class="btn btn-default">Séquence</a>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <!-- Formulaire paramètrage -->
    <h3>Capteurs actives :</h3>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur électroencéphalogramme (EEG) :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur Pouls :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur Clignements de paupière :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur Mouvements de la tête (gyromètre) :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur Conductance de la peau :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;

    <h3>Paramètre de séquence :</h3>
        &nbsp;
        <p>
            <label class="alignLabelForm">Stimulation :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Type de stimulation :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Durée séquence :</label><input type="number" step="1" value="0" min="0" max="64">
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Enregistrement des informations physiologiques :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
        <p>
            <label class="alignLabelForm">Capteur Conductance de la peau :</label>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
                    <label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
                </span>
        </p>
        &nbsp;
</div><!--FIN-div class="container"-->
}