@(message: String)

@main("HL Graph") {

<!-- Conteneur Page HandiLight -->
<div class="container">
	<!-- Menu de navigation -->
	<h2>Paramètrage scenario</h2>
	<div class="btn-group" role="group" aria-label="...">
		<a href="scenario" class="btn btn-default">Paramètre actuel</a>
		<a href="scenarioCapteur" class="btn btn-default">Capteurs</a>
		<a href="scenarioSequence" class="btn btn-info" role="button">Séquence</a>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
	</div>
	<!-- Formulaire paramètrage -->
	<h3>Parametrage de la séquence :</h3>
		&nbsp;
		<p>
			<label class="alignLabelForm">Séquence avec comparaison de paramètre récupéré :</label>
				<span class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
					<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
				</span>
		</p>
		&nbsp;
		<p>
			<label class="alignLabelForm">Type de stimulation :</label>
				<span class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
					<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
				</span>
		</p>
		&nbsp;
		<p>
			<label class="alignLabelForm">Durée séquence :</label><input type="number" step="1" value="0" min="0" max="64">
		</p>
		&nbsp;
		<p>
			<label class="alignLabelForm">Enregistrement des informations physiologiques :</label>
				<span class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
					<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
				</span>
		</p>
		&nbsp;
		<p>
			<label class="alignLabelForm">Capteur Conductance de la peau :</label>
				<span class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary" id="OUI"><input type="radio" name="options">OUI</label>
					<label class="btn btn-primary active" id="NON"><input type="radio" name="options">NON</label>
				</span>
		</p>
		&nbsp;
</div><!--FIN-div class="container"-->
}